{% extends "base.html" %}

{% block title %}Create Account{% end %}

{% block main %}

  <div class="content content-narrow">
    <h1>Create Account</h1>
    {% if not site_is_readonly %}
    <div class="fun-form">
      <form method="POST" action="/create-account/">
        {{ xsrf_form_html() }}
        <div class="field">
          <label>Username:</label>
          <div class="field-input"> 
            <input class="input-text" type="text" name="name" value="{{xhtml_escape(name)}}">
            {% if errors.name %}
            <div class="error">
              <span class="error-text">
                {{errors.name }}
              </span>
            </div>
            <span class="bottoms"></span>
            {% end %}
          </div>
          <div class="field-help"> 
            30 characters or fewer. Letters, digits, underscores or dashes only.
          </div>
        </div>
        
        <div class="field">
          <label>Password:</label>
          <div class="field-input">
            <input class="input-text" type="password" name="password" >
            {% if errors.password %}
            <div class="error">
              <span class="error-text">
                {{errors.password }}
              </span>
            </div>
            <span class="bottoms"></span>
            {% end %}
          </div>
        </div>
        
        <div class="field">
          <label>Password, again:</label>
          <div class="field-input">
            <input class="input-text" type="password" name="password_again" >
          </div>
          <div class="field-help"> 
            Enter the same password as above for verification.
          </div>
        </div>
        
        <div class="field">
          <label>Email:</label>
          <div class="field-input">
            <input class="input-text" type="text" name="email" value="{{xhtml_escape(email)}}" >
            {% if errors.email %}
            <div class="error">
              <span class="error-text">
                {{errors.email }}
              </span>
            </div>
            <span class="bottoms"></span>
            {% end %}
          </div>
        </div>

        <div class="field">
          <label>Discount code:</label>
          <div class="field-input">
            <input class="input-text" type="text" name="key" value="{{xhtml_escape(key)}}">
            {% if errors.key %}
              <div class="error">
                <span class="error-text">
                  {{errors.key }}
                </span>
              </div>
              <span class="bottoms"></span>
              {% end %}
          </div>
          <div class="field-help">
            If you have a discount code to apply
            towards a membership, enter it here.

            {% if promotions %}
            <br><br>If you don’t have a discount code, here’s
            our active promotions!

            <ul class="promotions">
            {% for promo in promotions %}
            {% set promo_shake = promo.shake() %}
            <li><a href="{{ promo.promotion_url }}" rel="nofollow" target="_blank"><div class="promotion-avatar"><img src="{{promo_shake.page_image()}}" width="100" height="100" alt=""></div><span class="promotion-name">{{ xhtml_escape(promo.name) }}</span></a></li>
            {% end %}
            </ul>
            <div class="clear"><!-- --></div>
            {% end %}
          </div>
        </div>

        {% if recaptcha %}
        <div class="field">
          <label>Prove you’re not just a MLTSHP-lovin’ robot:</label>
          <div class="field-help" style="margin-left: 0">
          {{recaptcha}}
          </div>
          {% if errors.recaptcha %}
          <div class="error">
            <span class="error-text">
              {{errors.recaptcha}}
            </span>
          </div>
          <span class="bottoms"></span>
          {% end %}
        </div>
        {% end %}

        <div class="field">
          <div class="field-help"> 
            By creating an account you agree to MLTSHP’s <a href="/terms-of-use" target="_blank">terms of use</a>.
          </div>
        </div>
        <div class="field">
          <input class="input-submit" type="submit" value="Create It!">
        </div>
      </form>
      <div class="clear"><!-- --></div>
    </div>
    {% else %}
    <p>Sorry! The site is in a read-only state right now and isn't accepting registrations. Please check back soon!</p>
    {% end %}
  </div>
{% end %}
