{% extends "base.html" %}

{% block title %}Forgot Your Password{% end %}

{% block main %}

  <div class="content content-narrow">
    <h1>Lost Password</h1>
    {% if not site_is_readonly %}
    <p>
      Put the email address you signed up with in the box below and we'll send you instructions on how to reset your password.
    </p>
    <div class="fun-form">
      <form method="POST" action="/account/forgot-password">
        {{ xsrf_form_html() }}
        <div class="field">
          <label for="email">Email Address:</label>
          <div class="field-input"> 
            <input class="input-text" type="text" name="email" value="{{email}}">
            {% if errors.email %}
            <div class="error">
              <span class="error-text">
                {{errors.email }}
              </span>
            </div>
            <span class="bottoms"></span>
            {% end %}
          </div>
        </div>
        <div class="field">
          <input class="input-submit" type="submit" value="Find It!">
        </div>
      </form>
      <div class="clear"><!-- --></div>
    </div>
    {% else %}
    <p>
      Sorry! The web site is currently in a read-only state. Please check back later to reset your password!
    </p>
    {% end %}
  </div>
{% end %}