{% extends "base.html" %}

{% block title %}Check Your Email{% end %}

{% block main %}
  <div class="content content-narrow">
    <h1>We Sent You Instructions!</h1>
    <p>We just sent your email address instructions on how to reset your password. If you don't get it within the next 5 minutes
      contact us at <a href="mailto:hello@mltshp.com">hello@mltshp.com</a> and we'll figure out what's going on.
    </p>
    <div class="extra-info">
      <p>
        Incidentally, if you seem to be forgetting your passwords a lot, you might be interested in knowing there are password managers
        that store your passwords for you. Here are a few we like:
      </p>
      {% include "account/_password-managers.html"%}
    </div>
  </div>
{% end %}
