{% extends "base.html" %}

{% block title %}Reset Your Password{% end %}

{% block main %}

  <div class="content content-narrow">
    <h1>Reset Your Password</h1>
    <p>
      Enter a new password for your account.
    </p>
    <div class="fun-form">
      <form method="POST" action="/account/reset-password/{{reset_password_token}}">
        {{ xsrf_form_html() }}


        <div class="field">
          <label for="password">Password:</label>
          <div class="field-input">
            <input class="input-text" type="password" name="password" >
            {% if errors.password %}
            <div class="error">
              <span class="error-text">
                {{errors.password }}
              </span>
            </div>
            <span class="bottoms"></span>
            {% end %}
          </div>
        </div>

        <div class="field">
          <label>Password, again:</label>
          <div class="field-input">
            <input class="input-text" type="password" name="password_again" >
          </div>
          <div class="field-help">
            Enter the same password as above for verification.
          </div>
        </div>


        <div class="field field-submit">
          <input class="input-submit" type="submit" value="Save It!">
        </div>
      </form>
      <div class="clear"><!-- --></div>
    </div>
  </div>
{% end %}
