{% extends "base.html" %}
{% block title %}Thank You!{% end %}
{% block main %}
  <div class="content content-upgrade">
    <h1 class="thank-you">Thank You!</h1>
    <p>
      We really greatly appreciate your support. Having a MLTSHP paid account enables us to create new features and continually improve the site. We hope you continue to enjoy MLTSHP as much as we do.
      </p>
      <p>
      Now get out there and <a href="/popular">share some stuff</a>!
      </p>
      
    </p>
  </div>
{% end %}
