{% extends "base.html" %}
{% block title %}Thank You!{% end %}
{% block main %}
  <div class="content content-membership">
    <h1 class="thank-you">Thank You!</h1>
    <p>
      We really greatly appreciate your support. Having a MLTSHP membership enables us to
      create new features and continually improve the site. We hope you continue to enjoy
      MLTSHP as much as we do.
    </p
    {% if has_data_to_migrate and not site_is_readonly %}
    <p>
      You can now migrate your <a href="/account/mlkshk-migrate">MLKSHK data to MLTSHP!</a>
    </p>
    {% else %}
    <p>
      Now get out there and <a href="/popular">share some stuff</a>!
    </p>
    {% end %}
  </div>
{% end %}
