{% extends "base.html" %}

{% block title %}Your Profile Settings{% end %}

{% block main %}
  <div class="content content-settings">
    <div class="settings-header">
      <h1>Your Settings</h1>
      <div class="settings-navigation">
        <ul>
          <li><a href="/account/settings">Account</a></li>
          <li class="selected"><a href="/account/settings/profile">Profile</a></li>
          <li><a href="/account/settings/connections">Connections</a></li>
        </ul>
      </div>
    </div>

    <form method="POST" action="/account/settings/profile/save" enctype="multipart/form-data">
      <div class="settings-body">
        <div class="settings-body-sidebar">
          <div class="profile-photo">
            <div class="profile-photo-media">
              {% if user.profile_image and user.email_confirmed == 1 %}
                <img class="avatar--img" src="{{user.profile_image_url()}}" width="100" height="100"><br>
              {% else %}
                <img class="avatar--img" src="{{ static_url("images/default-icon-venti.svg") }}" width="100" height="100"><br>
              {% end %}
            </div>
            <div class="profile-photo-meta">
              <h3>This is your user photo.</h3>
              {% if not site_is_readonly and user.email_confirmed == 1 %}
                <h4>Want to change it?</h4>
                <input class="settings-photo-upload" type="file" name="photo" size="10">
              {% end %}
            </div>
          </div>
          {% if not site_is_readonly and user.email_confirmed == 1 %}
            <div class="info-block">
              <h3>Tips for your profile image: </h3>
              <p>Shoot for 100×100 pixels square, it will also be displayed at 48×48 for file pages. (100k maximum size)</p>
            </div>
          {% end %}
        </div>
        <div class="settings-body-content">

          <div id="fun-form-settings-profile" class="fun-form fun-form-stacked fun-form-border"{% if site_is_readonly %} disabled="disabled"{% end %}>
            {{ xsrf_form_html() }}
            <div class="field">
              <label for="full_name">Full Name</label>
              <div class="field-input">
                <input type="text" class="input-text" name="full_name" maxlength="100" value="{{escape(user.full_name)}}"{% if site_is_readonly or user.email_confirmed == 0 %} disabled="disabled"{% end %}>
              </div>
              {% if errors.full_name %}
              <div class="error">
                <span class="error-text">
                  {{errors.full_name }}
                </span>
              </div>
              {% end %}
            </div>

            <div class="field field-textarea">
              <label for="about">About You</label>
              <div class="field-input">
                <div class="field-input-inner">
                  <textarea maxlength="255" name="about"{% if site_is_readonly or user.email_confirmed == 0 %} disabled="disabled"{% end %}>{{escape(user.about)}}</textarea>
                </div>
              </div>
              <div class="field-help">255 characters max.</div>
              {% if errors.about %}
              <div class="error">
                <span class="error-text">
                  {{ errors.about }}
                </span>
              </div>
              {% end %}
            </div>

            <div class="field">
              <label for="website">Website</label>
              <div class="field-input">
                <input type="text" class="input-text" name="website" maxlength="255" value="{{escape(user.website)}}"{% if site_is_readonly or user.email_confirmed == 0 %} disabled="disabled"{% end %}>
              </div>
              {% if errors.website %}
              <div class="error">
                <span class="error-text">
                  {{errors.website }}
                </span>
              </div>
              {% end %}
            </div>

            {% if not site_is_readonly and user.email_confirmed == 1 %}
            <div class="field field-submit">
              <a class="btn btn-primary btn-shadow" href="">Save It!</a>
            </div>
            {% end %}
          </div>
        </div>
      </div>
    </form>
  </div>
{% end %}
