{% extends "base.html" %}
{% block included_scripts %}
<script type="text/javascript" src="https://checkout.stripe.com/checkout.js" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function() {
  var updateCardDetails = StripeCheckout.configure({
    key: '{{ stripe_public_key }}',
    name: 'MLTSHP, Inc.',
    image: '{{ static_url("images/apple-touch-icon.png") }}',
    email: '{{ current_user_object.email }}',
    panelLabel: 'Update Card Details',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
      $('#update-token').val(token.id);
      $('#update-card-details-form').submit();
    }
  });

  $('#update-card-details-btn').click(function(e) {
    e.preventDefault();
    updateCardDetails.open();
  });
});
</script>
{% end %}

{% block title %}Your Account Settings{% end %}

{% block main %}
  <div class="content content-settings">
    <div class="settings-header">
      <h1>Your Settings</h1>
      <div class="settings-navigation">
        <ul>
          <li class="selected"><a href="/account/settings">Account</a></li>
          <li><a href="/account/settings/profile">Profile</a></li>
          <li><a href="/account/settings/connections">Connections</a></li>
        </ul>
      </div>
    </div>
    <div class="settings-body">
      <div class="fun-form fun-form-stacked fun-form-settings" >
        {% if not current_user_object.email_confirmed and not site_is_readonly %}
        <form method="POST" action="/account/settings/resend-verification-email">
          {{ xsrf_form_html() }}

        <div class="field">
          Your email address is not verified. Email verification is required for
          posting, commenting and updating your profile settings.
          Please check your inbox for verification instructions or:
        </div>
        <div class="field field-submit">
          <a class="btn btn-primary btn-shadow" href="">Resend Verification</a>
        </div>
        </form>
        {% end %}

        <form method="POST" action="/account/settings"{% if site_is_readonly %} disabled="disabled"{% end %}>
          {{ xsrf_form_html() }}
          <div class="field">
            <label for="email">Email</label>
            <div class="field-input more">
              <input type="text" name="email" class="input-text" value="{{escape(user.email)}}"{% if site_is_readonly %} disabled="disabled"{% end %}>
              {% if errors.email %}
              <div class="error">
                <span class="error-text">
                  {{errors.email }}
                </span>
              </div>
              {% end %}
            </div>
          </div>

          <div class="field">
            <div class="field-input field-input-checkbox">
              <label>
                <input type="checkbox" name="disable_notifications" value="1"{% if site_is_readonly %} disabled="disabled"{% end %}{% if user.disable_notifications %} checked="checked"{% end %}>
                Disable Notifications?
              </label>
            </div>
          </div>

          <div class="field">
            <div class="field-input field-input-checkbox">
              <label>
                <input type="checkbox" name="disable_autoplay" value="1"{% if site_is_readonly %} disabled="disabled"{% end %}{% if user.disable_autoplay %} checked="checked"{% end %}>
                Disable Video Autoplay?
              </label>
            </div>
          </div>

          <div class="field">
            <div class="field-input field-input-checkbox">
              <label>
                <input type="checkbox" name="show_naked_people" value="1"{% if site_is_readonly %} disabled="disabled"{% end %}{% if user.show_naked_people %} checked="checked"{% end %}>
                Remove NSFW Filter?
              </label>
            </div>
          </div>

          <div class="field">
            <div class="field-input field-input-checkbox">
              <label>
                <input type="checkbox" name="show_stats" value="1"{% if site_is_readonly %} disabled="disabled"{% end %}{% if user.show_stats %} checked="checked"{% end %}>
                Show Stats?
              </label>
            </div>
          </div>

          {% if not site_is_readonly %}
          <div class="field field-submit">
            <a class="btn btn-primary btn-shadow" href="">Save This</a>
          </div>
          {% end %}
        </form>
      </div>
      <div class="settings-subscription-sidebar">
        {% if (has_data_to_migrate and not site_is_readonly) or migrated_flag %}
        <div class="migration-block">
            <h3>MLKSHK Restore Status</h3>
            <div class="migration-block-content">
                {% if migrated_flag %}
                <p>
                  Your MLKSHK content is being restored and should be available very soon.
                  Thanks for all your posts!
                </p>
                {% else %}
                <p>
                  Your MLKSHK posts are safe and sound and ready to be restored. Click the button below
                  to start restoring your content.
                </p>
                <a class="btn btn-primary btn-shadow" href="/account/mlkshk-migrate">Let's Go!</a>
                {% end %}
            </div>
        </div>
        {% end %}

        <div class="member-status-block">
          <h3>Membership Status</h3>
          <div class="member-status-block-content">
            {% if user.is_paid %}

              {% if cancel_flag %}
              <h4>You have canceled your subscription, but it will remain active
                until the end of your subscription term.</h4>
              <p>View the <a href="/account/membership">Membership</a> page if you would
                like to resubscribe.</p>
              {% else %}

              {% if updated_flag %}
              <p>Thanks for updating your credit card information!</p>
              {% else %}
              {% if past_due %}
              <p><strong>IMPORTANT</strong> — Your subscription is currently <strong>Past Due</strong>.
              This means your billing information needs to be updated, or you have no
              active credit card. Use the button below to update your credit card information.</p>
              {% end %}
              {% end %}

              <h4>Your Membership Plan: <a href="/account/membership">{{ plan_name }}</a></h4>
                {% if user.stripe_plan_id == "mltshp-double" and user.stripe_plan_rate > 24 %}
              <p>You subscribe at a custom rate of ${{ user.stripe_plan_rate }}/year.
                <em>Thank you for your added support.</em></p>
                {% end %}
              {% end %}

              <p>Your last 3 payments or credits:</p>
              <ol class="transaction-list">
                {% for item in payments %}
                  <li>
                    <span class="amount">{{item['transaction_amount']}}</span>
                    {% if item['status'] == 'credit' %}credited{% else %}received{% end %}
                    on <span class="date">{{item['created_at'].strftime("%B %d, %Y")}}</span>
                  </li>
                {% end %}
              </ol>

              {% if not cancel_flag %}
              <p><hr></p>

              <p><strong>Current Payment Source</strong><br>
                {% if source_card_type and source_last_4 and source_expiration %}
                  Card type: {{ source_card_type }}<br>
                  Card ending in: {{ source_last_4 }}<br>
                  Expiration date: {{ source_expiration }}
                {% else %}
                  <em>No card presently on file!</em>
                {% end %}
              </p>

              <button id="update-card-details-btn" class="btn btn-secondary btn-shadow">Update Card Details</button>

              <form id="update-card-details-form" action="/account/payment/update" method="POST">
                {{ xsrf_form_html() }}
                <input type="hidden" id="update-token" value="">
              </form>
              {% end %}

              {% if not cancel_flag %}
              <p>If you'd like to cancel your subscription <a href="/account/payment/cancel">you can do so here</a>.</p>
              {% end %}
            {% else %}
              <p>
                You are currently using a free account. If you'd like
                to support MLTSHP and get some nifty new benefits you can
                <a href="/account/membership">upgrade to a paid account</a>.
              </p>

              {% if promotions and not site_is_readonly %}
                <p>
                  We have an active promotion running now. To learn more about them and
                  to redeem a code, click this button:
                </p>
                <a class="btn btn-primary btn-shadow" href="/account/redeem">Redeem Code</a>
              {% end %}
            {% end %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% end %}
