{% extends "base.html" %}

{% block title %}Sign In{% end %}

{% block main %}

  <div class="content content-narrow">
    <h1>Sign in</h1>
    <div class="fun-form">
      <form id="sign-in-form" method="POST" action="/sign-in/">
        {{ xsrf_form_html() }}
        <div class="field">
          <label for="name">Username:</label>
          <div class="field-input">
            <input class="input-text" type="text" name="name" value="{{name}}"
            autocorrect="off" autocapitalize="none">
            {% if errors.name %}
            <div class="error">
              <span class="error-text">
                {{errors.name }}
              </span>
            </div>
            <span class="bottoms"></span>
            {% end %}
          </div>
        </div>
        <div class="field">
          <label for="password">Password:</label>
          <div class="field-input">
            <input class="input-text" type="password" name="password" >
          </div>
        </div>
        <div class="field field-submit">
          <div class="action-button"><a href=""><span>Sign In!</span></a></div>
        </div>
        <input type="hidden" name="next" value="{{escape(next)}}">
      </form>
      <div class="clear"><!-- --></div>
      <div class="forgot-password-field">
        <a href="/create-account">Not A Member?</a><br><br><a href="/account/forgot-password">I Forgot My Password</a>
      </div>
    </div>
  </div>
{% end %}
