{% extends "base.html" %}
{% block included_scripts %}
<script type="text/javascript" src="https://checkout.stripe.com/checkout.js" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  var subscribeHandler = StripeCheckout.configure({
    key: '{{ stripe_public_key }}',
    image: '//new.mltshp.com/static/images/apple-touch-icon.png',
    email: '{{ current_user_object.email }}',
    panelLabel: 'Subscribe!',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
      $('#subscribe-token').val(token.id);
      $('#subscribe-form').submit();
    }
  });

  $('#subscribe-button-annual').bind('click', function(e) {
    // Open Checkout with further options
    subscribeHandler.open({
      name: 'MLTSHP Pro Subscription',
      description: '1 Year ($24.00)',
      amount: 2400
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).bind('popstate', function() {
    subscribeHandler.close();
  });
});
</script>
{% end %}
{% block title %}Upgrade Your Account{% end %}
{% block main %}
  <div class="content content-upgrade">
    <h1>Why should I get a paid account?</h1>
    <ul>
      <li>Make shakes: have up to 100 groups</li>
      <li>Support MLTSHP: we can’t do this without you!</li>
    </ul>

    <div style="float:left">
      <form id="subscribe-form" action="/account/membership" method="POST">
        {{ xsrf_form_html() }}
        <input id="subscribe-token" type="hidden" name="token" value="">
      </form>
      <input id="subscribe-button-annual" type="button"
        class="subscription-button" value="$24 a year" border="0">
    </div>

    {% if promotions %}
    <div style="float:left; margin-left:20px;">
      <p style="margin-top:20px;"><strong>or</strong></p>
    </div>

    <div style="float:left; margin-left: 20px;">
      <input type="button" onclick="parent.location='/account/redeem';"
        class="subscription-button" value="Redeem Code" border="0">
    </div>
    {% end %}

    <div class="clear"><!-- --></div>
    <p class="fine-print">
      We use <a href="http://stripe.com/" target="_blank">Stripe</a> to process subscriptions.
    </p>
  </div>
{% end %}
