{% extends "base.html" %}
{% block title %}Upgrade Your Account{% end %}
{% block main %}
  <div class="content content-upgrade">
    <h1>Why should I get a paid account?</h1>
    <ul>
      <li>Make shakes: have up to ten groups</li>
      <li>No ads: a cleaner view</li>
      <li>Support MLTSHP: we love you too!</li>
    </ul>
    <div style="float:left">
    {{button2}}
    </div>
    <div class="clear"><!-- --></div>
    <p class="fine-print">
      We use Amazon's Flexible Payment Services to process subscriptions. 
      After payment, you'll be brought back to your freshly made MLTSHP Paid Account.
      Monthly subscriptions are charged three months at a time to save on fees.
    </p>
  </div>
{% end %}
