{% extends "base.html" %}

{% block title %}
{% if sharedfiles %}
  {{sharedfiles[0].created_at.strftime("%B")}}
{% end %}
{% end %}

{% block main %}
<div class="content content-with-sidebar content-account">
  <div class="account-header">
    <div class="avatar">
      <a class="avatar-media" href="/user/{{current_user_obj.name}}">
        <img class="avatar--img" src="{{current_user_obj.profile_image_url()}}" width="50" height="50">
      </a>
      {% if front_page %}
        <h2 class="avatar-title">Hi {{ escape(current_user_obj.display_name()) }}!</h2>
      {% else %}
        <h2 class="avatar-title">Your Friends</h2>
      {% end %}
    </div>
  </div>
  <div class="sidebar">
    {% if current_user_obj.show_stats %}
    {{modules.UserCounts(user=current_user_obj)}}
    {% end %}

    {% if not current_user_obj.tou_agreed %}
    <div class="notification-block notification-block-tou">
      <div class="notification-block-link">
        <a href="/account/announcement/tou">Hey, it’s a site announcement</a>
      </div>
    </div>
    {% end %}

    {% if front_page %}
      {% include "account/quick-notifications.html" %}
    {% elif notifications_count > 0 %}
    <div class="notification-block notification-block-aggregate" id="notification-block-aggregate">
      <div class="notification-block-hd">
        Show {{notifications_count}} notification{% if notifications_count != 1 %}s{% end %}
        <span class="caret"></span>
      </div>
    </div>
    {% end %}

    {% if not site_is_readonly %}
      {% if externalservice %}
    <div class="find-shakes-block">
      <h3>Find More Shakes</h3>
      <div class="find-shakes-block-content">
        <p>Check out our <a href="/tools/find-shakes">featured shakes</a> and <a href="/tools/find-shakes/people">people</a>.</p>
        <div class="clear"><!-- --></div>
      </div>
    </div>
      {% else %}
    <div class="find-shakes-block">
      <h3>Find More Shakes</h3>
      <div class="find-shakes-block-content">
        <p>Check out our <a href="/tools/find-shakes">featured shakes</a>, and <a href="/tools/twitter">connect to Twitter</a> to find people you already know.</p>
      </div>
    </div>
      {% end %}
    {% end %}
    {% if not current_user_obj.is_member() %}
      {% if not site_is_readonly %}
    <div class="upgrade-account-block">
      <div class="upgrade-account-block-content">
        <h3><a href="/account/membership">Become a Member! &raquo;</a></h3>
        <p>Get <strong>100</strong> group shakes for just $2 per month and support MLTSHP!</p>
      </div>
    </div>
      {% end %}
    {% end %}

    {% if show_promos %}
    <div class="promo-block">
        <iframe src="/promo" height="285" width="285" frameborder="0" scrolling="no"></iframe>
    </div>
    {% end %}

    <div class="cool-tools-block">
      <h3>Cool Tools! Cool Tools!</h3>
      <p>Save on the web with a right click. Post a camera phone photo through Twitter. Sweet!</p>
      <ul class="browser-tools">
        <li class="bookmarklet"><a href="/tools/bookmarklet">Bookmarklet</a></li>
        <li class="safari"><a href="/static/plugins/mltshp.safari.safariextz">Safari Extension</a></li>
        <li class="firefox"><a href="/static/plugins/mltshp.firefox.xpi">Firefox Add-On</a></li>
        <li class="chrome"><a href="https://chrome.google.com/webstore/detail/mltshp/dpkfhblfcdhcdekliknbpekjcppgihcd">Chrome Extension</a></li>

      </ul>
      {% if not site_is_readonly %}
      <a class="twitter-setup" href="/tools/twitter">Set up your phone for Twitter</a>
      {% end %}
    </div>
  </div>
  <div class="body">
    {% if len(sharedfiles) > 0 %}
      <div class="image-content-list">
        {% if show_notice_where_you_were %}
            <div class="bookmark">
              <span class="bookmark-flag">
                <span class="bookmark-flag--content">Here is where you were</span>
              </span>
            </div>
        {% end %}

        {% for sharedfile in sharedfiles %}
          {% if sharedfile.__class__.__name__ == 'Sharedfile' %}
            {{modules.Image(sharedfile, current_user=current_user_obj, list_view=True, show_attribution_in_title=True)}}
          {% else %}
            <div class="bookmark">
              <span class="bookmark-flag">
                <span class="bookmark-flag--content">
                    You started <span class="hide-on-small">reading</span> here
                    <time datetime="{{sharedfile.created_at}}" title="{{sharedfile.feed_date()}}">{{sharedfile.pretty_created_at()}}</time>
                </span>
              </span>
              {% if sharedfile.previous_sharedfile_id > 0 %}
                <span class="jump-back">
                  <a href="/before/{{sharedfile.previous_sharedfile_key()}}/returning"><span class="hide-on-small">jump to</span> previous</a>
                </span>
              {% end %}
            </div>
          {% end %}
        {% end %}
        <div class="linear-navigation">
          <div class="older">
            {% if older_link %}
              <a class="btn btn-secondary btn-shadow" href="{{ older_link }}">&laquo; Older</a>
            {% end %}
          </div>
          <div class="newer">
            {% if newer_link %}
              <a class="btn btn-secondary btn-shadow" href="{{ newer_link }}">Newer &raquo;</a>
            {% end %}
          </div>
        </div>
      </div>
    {% else %}
      <div class="dashboard-new-user">
        <h1>Welcome To MLTSHP!</h1>
        <h2>Getting Started</h2>
        <p>
          There are a couple of things you can do to make MLTSHP more fun. You can
          find people to follow in the <a href="/incoming">incoming shake</a>. If you
          see something you like click the &#147;LIKE&#148; button. If you see
          something you want to keep click &#147;SAVE&#148; and your followers will
          see it too.
        </p>
        <div class="two-columns">
          <div class="left-column">
            <img src="{{ static_url("images/bunny-shking-it.svg") }}" width="130" style="padding-bottom:100px"><br>
            <img src="{{ static_url("images/porky-shking-it.svg") }}" width="130">
          </div>
          <div class="right-column">
            <h3>Find people to follow</h3>
            <h4>Check out the <a href="/incoming">Incoming Shake</a> often.</h4>
            <p>Incoming contains images from everyone&apos;s shake. Follow people who post
              images you like.</p>
            <h4>Follow <a href="/user/mltshp">MLTSHP</a>.</h4>
            <p>We created MLTSHP and would love to have you follow our personal shakes. We save the
              the good stuff we see from others and add to our own shakes daily.</p>
            <p>We also have a topical group shakes curated by groups of people, you can <a href="/tools/find-shakes">find that here</a>.</p>
            <h3>Save images to your own shake</h3>
            <p>Use the &#147;New Post&#148; button at the top of the page to upload from your computer. </p>
            <p>
              <a href="/tools/plugins">Get a browser plugin to save images with a right-click.</a>
              {% if not site_is_readonly %}
              <br>
              <a href="/tools/twitter">Set up Twitter to post images from your phone.</a>
              {% end %}
            </p>
            <p>&nbsp;</p>
          </div>
          <br >
        </div>
      </div>
    {% end %}
  </div>
</div>
{% end %}
