.git
.gitignore
.env
.prettierignore
.stylelintrc
.editorconfig
.vscode
env
mounts
*.pyc
__pycache__/
web/settings.py
web/settings.*.py
web/celeryconfig.py
web/celeryconfig.*.py
.eggs/
pip-log.txt
.DS_Store
*.swp
.deploy.env
README.md
LICENSE
web/yoyo.*.ini
web/yoyo.ini
Makefile
