env:
  DOCKER_COMPOSE_VERSION: 1.12.0

before_install:
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-engine

branches:
  only:
    - master

sudo: required

services:
  - docker
  - mysql

script:
  - cp ./settings.travis-ci.py ./settings.py
  - cp ./docker-compose.travis-ci.yml docker-compose.yml
  - docker pull mltshp/mltshp-web:latest
  - docker-compose up -d
  - docker exec -t mltshp_mltshp_1 ./run-tests.sh

after_success:
  - docker exec -t -e 'apt-get install -y git'
  - docker exec -t -e COVERALLS_REPO_TOKEN mltshp_mltshp_1 coveralls
