env:
  DOCKER_COMPOSE_VERSION: 1.12.0

sudo: required

services:
  - docker
  - mysql

script:
  - cp ./settings.example.py ./settings.py
  - docker-compose --file docker-compose.travis-ci.yml run mltshp ./test.py
