env:
  DOCKER_COMPOSE_VERSION: 1.12.0

language: shell

sudo: required

services:
  - docker
  - mysql

script:
  - cp ./settings.travis-ci.py ./settings.py
  - export HOSTIP=`ip -4 addr show scope global dev eth0 | grep inet | awk '{print \$2}' | cut -d / -f 1`
  - docker-compose --file docker-compose.travis-ci.yml run mltshp ./test.py
