version: "2"
services:
  mltshp:
    image: mltshp/mltshp-web
    volumes:
      - .:/srv/mltshp.com/mltshp
      - ./mounts/logs:/srv/mltshp.com/logs
      - ./mounts/uploaded:/srv/mltshp.com/uploaded
      - ./setup/dev/nginx.conf:/etc/nginx/nginx.conf
      - ./setup/dev/supervisord.conf:/etc/supervisor/conf.d/mltshp.conf
    ports:
      - "8000:80"
    depends_on:
      - mysql
      - fakes3
    links:
      - mysql
      - fakes3
    networks:
      app_net:
        aliases:
          - mltshp.dev
  fakes3:
    image: fingershock/fakes3
    volumes:
      - ./mounts/fakes3:/fakes3_data
    networks:
      app_net:
        aliases:
          - mltshp-testing.fakes3
          - mltshp-dev.fakes3
  mysql:
    image: mysql:latest
    ports:
      - "3306:3306"
    volumes:
      - ./mounts/mysql:/var/lib/mysql
      - ./setup/db-install.sql:/docker-entrypoint-initdb.d/00_db-install.sql
      - ./setup/db-fixtures.sql:/docker-entrypoint-initdb.d/01_db-fixtures.sql
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "mltshp"
      MYSQL_USER: "mltshp"
    networks:
      - app_net

networks:
  app_net:
