BeautifulSoup4==4.10.0
mysql-connector-python==8.0.28
Pillow==9.0.1
amqplib==1.0.2
anyjson==0.3.3
boto3==1.20.52
celery==5.2.3
kombu==5.2.3
pycurl==7.44.1
pyparsing==3.0.7
python-dateutil==2.8.2
python-postmark==0.5.8
recaptcha-client==1.0.6
tornado==6.1
torndb==0.3
tweepy==4.5.0
mock==4.0.3
requests==2.27.1
stripe==2.65.0
yoyo-migrations==7.3.2
ffmpy==0.3.0
