amqplib==1.0.2
beautifulsoup4==4.12.3
boto3==1.35.86
celery==5.4.0
ffmpy==0.5.0
kombu==5.3.7
mock==5.1.0
mysqlclient==2.2.6
Pillow==11.0.0
pycurl==7.45.4
pyOpenSSL==24.3.0
python-dateutil==2.9.0.post0
python-postmark==0.6.0
requests==2.32.3
stripe==11.4.1
tornado==6.4.2
yoyo-migrations==8.2.0
