$color-mltshp-pink: #ff0080;
$color-mltshp-blue: #00aeff;

$color-primary: $color-mltshp-pink;
$color-primary-hover: shade($color-primary, 20%);
$color-primary-pastel-bg: #ffcce8;
$color-primary-pastel-fg: $color-primary;
$color-secondary: $color-mltshp-blue;
$color-secondary-hover: shade($color-secondary, 20%);
$color-secondary-pastel-bg: #daf3ff;
$color-secondary-pastel-fg: $color-secondary;
$color-success: #09B896;
$color-success-hover: shade($color-success, 20%);
$color-success-pastel-bg: #b9ff8d;
$color-success-pastel-fg: #0caf8b;
$color-warning: #ff9600;
$color-warning-hover: shade($color-warning, 20%);
$color-warning-pastel-bg: #ffe466;
$color-warning-pastel-fg: $color-warning;
$color-danger: #f30;
$color-danger-hover: shade($color-danger, 20%);
$color-danger-pastel-bg: #ffd4d4;
$color-danger-pastel-fg: #ff1c1c;
$color-disabled: #A1A1A1;
$color-disabled-pastel-bg: #cecec6;
$color-disabled-pastel-fg: #8d8d87;

$color-edit: rgba(#fcff00, 0.66);

$link-color: $color-secondary;
$link-color-hover: $color-secondary-hover;

$link-color-primary: $color-primary;
$link-color-primary-hover: $color-primary-hover;
