{% extends "base.html" %}
{% block title %}{{escape(sharedfile.get_title())}}{% end %}
{% block included_headers %}
<link rel="alternate"
      type="application/json+oembed"
      href="https://mltshp.com/services/oembed?url=https%3A//mltshp.com/p/{{sharedfile.share_key}}"
      title="{{escape(sharedfile.get_title())}} shared by {{escape(sharedfile_owner.name)}}">
<link rel="alternate"
      type="application/javascript+oembed"
      href="https://mltshp.com/services/oembed?url=https%3A//mltshp.com/p/{{sharedfile.share_key}}&amp;jsoncallback={{jsonp}}"
      title="{{escape(sharedfile.get_title())}} shared by {{escape(sharedfile_owner.name)}}">

<meta name="thumbnail" content="{{thumb_url}}">
<meta name="twitter:url" content="https://mltshp.com/p/{{sharedfile.share_key}}">
<meta property="og:site_name" content="MLTSHP">
<meta property="og:title" content="{{escape(sharedfile.get_title())}}">
<meta property="og:description" content="{{escape(sharedfile.get_description())}}">
<meta name="twitter:site" content="@mltshphq">
{% if owner_twitter_account != 'mltshphq' %}
<meta name="twitter:creator" content="@{{owner_twitter_account}}">
{% end %}
{% if sourcefile.type == 'image' %}
<meta property="twitter:card" content="photo">
<meta property="og:image" content="https://mltshp-cdn.com/r/{{sharedfile.share_key}}">
<meta property="og:image:type" content="image/{{sharedfile.content_type}}">
<meta property="og:image:width" content="{{sourcefile.width}}">
<meta property="og:image:height" content="{{sourcefile.height}}">
{% end %}
{% if sourcefile.mp4_flag == 1 %}
<meta property="og:video" content="https://mltshp-cdn.com/r/{{sharedfile.share_key}}.mp4">
<meta property="og:video:type" content="video/mp4">
<meta property="og:video:secure_url" content="https://mltshp-cdn.com/r/{{sharedfile.share_key}}.mp4" />
<meta property="og:video:width" content="{{sourcefile.width}}">
<meta property="og:video:height" content="{{sourcefile.height}}">
{% end %}
{% if sourcefile.webm_flag == 1 %}
<meta property="og:video" content="https://mltshp-cdn.com/r/{{sharedfile.share_key}}.webm">
<meta property="og:video:type" content="video/webm">
<meta property="og:video:secure_url" content="https://mltshp-cdn.com/r/{{sharedfile.share_key}}.webm" />
<meta property="og:video:width" content="{{sourcefile.width}}">
<meta property="og:video:height" content="{{sourcefile.height}}">
{% end %}
{% end %}

{% block main %}
  <div class="content content-permalink">
    {{modules.Image(sharedfile, current_user=current_user_obj, list_view=False, show_attribution_in_title=False)}}

    <div class="permalink-sidebar">
      <div class="permalink-user-info">
        {{modules.ShakeFollow(follow_user=sharedfile.user(), current_user=current_user_obj, avatar_size=48)}}
      </div>

      <div id="sidebar-stats" class="sidebar-stats">
        <ul class="sidebar-stats-tabs">
          <li class="sidebar-stats-block sidebar-stats-views">
            <span class="tab">
              {{view_count}} View{% if view_count != 1%}s{% end %}
            </span>
          </li>
          <li class="sidebar-stats-block sidebar-stats-saves {% if save_count > 0 %}enable-cursor{% end %}">
            <span class="tab">
              <span class="save-count" id="save-count-amount-{{sharedfile.share_key}}">{{save_count}} Save{% if save_count != 1 %}s{% end %}</span>
            </span>
          </li>
          <li class="sidebar-stats-block sidebar-stats-hearts {% if heart_count > 0 %}enable-cursor{% end %}">
            <span class="tab">
              <span class="like-count" id="like-count-amount-{{sharedfile.share_key}}">{{heart_count}}  Like{% if heart_count != 1 %}s{% end %}</span>
            </span>
          </li>
        </ul>
        <div class="sidebar-stats-content"></div>
      </div>

      {% if sourcefile.type == 'image' %}
      <div class="meta-data">
        <h4>Post URL</h4>
        <p>https://mltshp.com/p/{{sharedfile.share_key}}</p>

        {% if user_is_owner %}
        <h4>Image URL</h4>
        <p>https://mltshp-cdn.com/r/{{sharedfile.share_key}}</p>

        {% if sourcefile.mp4_flag %}
        <h4>MP4 Video</h4>
        <p>https://mltshp-cdn.com/r/{{sharedfile.share_key}}.mp4</p>
        {% end %}

        {% if sourcefile.webm_flag %}
        <h4>WebM Video</h4>
        <p>https://mltshp-cdn.com/r/{{sharedfile.share_key}}.webm</p>
        {% end %}
        {% end %}
      </div>
      {% end %}
      <div class="clear"><!-- --></div>
      {% if can_add_to_shakes %}
        <h4 class="shake-details-title">Add To Shakes</h4>
        <div class="in-these-shakes">
          <form action="/p/{{sharedfile.share_key}}/shakes" method="post">
          {{ xsrf_form_html() }}
          <ul>
          {% for shake in add_to_shakes %}
            {% if shake.display_name() == current_user_obj.display_name() and shake.type == 'user' %}
              <li><input type="checkbox" class="input-checkbox" name="shakes" value="{{shake.id}}"><a href="{{shake.path()}}">Your Shake</a></li>
            {% else %}
              <li><input type="checkbox" class="input-checkbox" name="shakes" value="{{shake.id}}"><a href="{{shake.path()}}">{{escape(shake.display_name())}}</a></li>
            {% end %}
          {% end %}
          </ul>
          <input type="submit" class="add-to-shakes-button btn btn-success btn-small" value="Add">
          </form>
        </div>
      {% end %}

      {% if in_these_shakes %}
        <h4 class="shake-details-title">In These Shakes</h4>
        <div class="in-these-shakes">
          <ul>
          {% for shake in in_these_shakes %}
            <li>
              {% if can_delete and len(in_these_shakes) > 1 %}
                <form class="delete-from-shakes-form" action="/p/{{sharedfile.share_key}}/shakes/{{shake.id}}/delete" method="post">
                  {{ xsrf_form_html() }}
                  <button title="Delete from shake" class="btn btn-warning btn-pastel btn-icon btn-tiny" type="submit" value="delete">✕</button>
                </form>
              {% end %}
              {% if current_user_obj and current_user_obj.display_name() == shake.display_name() and shake.type == 'user' %}
                <a href="{{shake.path()}}">Your Shake</a>
              {% else %}
                <a href="{{shake.path()}}">{{escape(shake.display_name())}}</a>
              {% end %}
            </li>
          {% end %}
        </div>
      {% end %}

      <ul class="permalink-social">
        <li class="twitter">
          <a target="_blank" href="https://twitter.com/share?url={{url_escape('https://mltshp.com/p/' + str(sharedfile.share_key))}}&amp;text={{url_escape(sharedfile.get_title())}}&amp;via={{owner_twitter_account}}" onclick="window.open('https://twitter.com/share?url={{url_escape('https://mltshp.com/p/' + str(sharedfile.share_key) )}}&amp;text={{url_escape(sharedfile.get_title())}}&amp;via={{owner_twitter_account}}','sharer','toolbar=0,status=0,width=626,height=436');return false;"><img src="{{ static_url("images/tweet-this.png") }}" width="21" height="21" alt="Tweet this"></a>
        </li>
        <li class="facebook">
          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url_escape('https://mltshp.com/p/' + str(sharedfile.share_key))}}&amp;quote={{url_escape(sharedfile.get_title())}}&amp;display=popup" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{url_escape('https://mltshp.com/p/' + str(sharedfile.share_key) )}}&amp;quote={{url_escape(sharedfile.get_title())}}&amp;display=popup','sharer','toolbar=0,status=0,width=626,height=436');return false;"><img src="{{ static_url("images/fb_icon.png") }}" width="21" height="21" alt="Post to Facebook"></a>
        </li>
        <li class="tumblr">
          <a target="_blank" href="https://tumblr.com/widgets/share/tool?canonicalUrl={{ url_escape('https://mltshp.com/p/' + str(sharedfile.share_key)) }}&amp;title={{ url_escape(sharedfile.get_title()) }}&amp;{% if sourcefile.type == 'image' %}content={{ url_escape('https://mltshp-cdn.com/r/' + str(sharedfile.share_key)) }}{% if sourcefile.mp4_flag %}.mp4{% end %}{% if sourcefile.webm_flag %}.webm{% end %}{% if sourcefile.mp4_flag or sourcefile.webm_flag %}&amp;posttype=video{% else %}&amp;posttype=photo{% end %}&amp;caption={{ url_escape(sharedfile.get_description()) }}{% else %}content={{ url_escape(sharedfile.get_description()) }}&amp;posttype=link{% end %}&amp;tags=mltshp{% if sourcefile.nsfw %}%2Cnsfw{% end %}" onclick="window.open(this.href,'sharer','toolbar=0,status=0,width=626,height=436');return false;"><div class="inner"><span class="text"> Post </span></div></a>
        </li>
      </ul>

      {% if current_user_obj and not site_is_readonly %}
      <form class="flag-image-form" method="post" action="/p/{{sharedfile.share_key}}/nsfw">
        {{ xsrf_form_html() }}
        <input type="submit" class="flag-image {% if sourcefile.nsfw == 1 %}flag-image-set{% end %}" id="flag-image-permalink" value="Flag this as NSFW">
      </form>
      {% end %}

      {% if can_delete and not site_is_readonly %}
      <form method="post" action="/p/{{sharedfile.share_key}}/delete">
        {{ xsrf_form_html() }}
        <input type="submit" class="delete-post-text" id="delete-post-text" value="Delete This Post">
      </form>
      {% end %}
    </div>

    <div class="image-comments" id="image-comments-permalink">
      {% for comment in comments %}
        <div class="comment">
          <div class="avatar">
            <a href="/user/{{comment.user().name}}">
              <img class="avatar--img" src="{{comment.user().profile_image_url()}}" height="48" width="48" alt="">
            </a>
          </div>
          <div class="body">
            {% set commenting_user = comment.user() %}
            <div class="meta">
              <a class="user-name username link--primary" href="/user/{{commenting_user.name}}">{{commenting_user.name}}</a>
              {% if commenting_user.is_plus() %}
                <a class="pro-badge" href="/account/membership" title="upgrade your account!">
                  <img src="{{ static_url("images/icon_plus.svg") }}" width="12" height="12" border="0" valign="center" alt="pro">
                </a>
              {% end %}
              <span class="created-at">
                  <time datetime="{{comment.created_at}}" title="{{comment.feed_date()}}">{{comment.pretty_created_at()}}</time>
              </span>
              {% if not site_is_readonly %}
                {% if can_comment %}
              <a class="reply-to" href="">Reply</a>
                {% end %}
                {% if current_user_obj and (comment.user_id == current_user_obj.id or sharedfile.user_id == current_user_obj.id) %}
              <form class="delete-form" method="post" id="delete-comment-{{comment.id}}-form" action="/p/{{sharedfile.share_key}}/comment/{{comment.id}}/delete">
                {{ xsrf_form_html() }}
              </form>
              <a id="delete-comment-{{comment.id}}" href="" class="delete link--danger">
                Delete
              </a>
                {% end %}
              {% end %}
            </div>
            <div class="comment-body-text">
              {{comment.body_formatted()}}
            </div>
          </div>
        </div>
      {% end %}
    </div>

    {% if can_comment %}
      <div id="post-comment" class="image-comment-form">
        <form action="/p/{{sharedfile.share_key}}/comment" method="post">
          {{ xsrf_form_html() }}
            <header>
              <img class="avatar avatar--img" src="{{current_user_obj.profile_image_url()}}" height="48" width="48" alt="">
              <h3><span>I've got something to say!</span></h3>
            </header>
            <div class="field">
              <textarea id="post-comment-body" name="body"></textarea>
            </div>
            <div class="field">
              <input class="btn btn-primary btn-shadow" type="submit" value="Post it!">
            </div>
        </form>
      </div>
    {% end %}

  </div>
{% end %}

{% block included_scripts %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#fb_share_button').click(function(e){
      e.preventDefault();
      FB.ui(
        {
          method: "feed",
          name: {{json_encode(sharedfile.get_title())}},
          link: "https://mltshp.com/p/{{sharedfile.share_key}}",
          {% if sourcefile.type == 'image' %}
          picture: "https://mltshp-cdn.com/r/{{sharedfile.share_key}}",
          {% else %}
          picture: "{{thumb_url}}",
          {% end %}
          caption: "",
          description: {{json_encode(sharedfile.get_description(raw=True))}},
          message: {{json_encode(sharedfile.get_title())}}
        });
      });
    });
</script>
{% end %}
