/* ---------------------------------------------------------------------
  Choose A Shake Dropdown
--------------------------------------------------------------------- */
.choose-a-shake {
    position: relative;
    text-align: left;
    z-index: 3;
}

.choose-a-shake--toggle {
    width: 100%;
}

.choose-a-shake.is-expanded .choose-a-shake--toggle {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 5px 5px 0 #e5e5e5;
    outline: none;

    &:hover,
    &:focus {
        background: $color-success-pastel-bg;
        color: $color-success-pastel-fg;
    }
}

.choose-a-shake.is-expanded .choose-a-shake--toggle .caret {
    transform: rotate(180deg);
}

.choose-a-shake--dropdown {
    background-color: $color-success-pastel-bg;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 0 #e5e5e5;
    display: none;
    left: 0;
    padding: 1px 10px 10px 10px;
    position: absolute;
    right: 0;
    top: calc(100% - .22em);
}

.choose-a-shake.is-expanded .choose-a-shake--dropdown {
    display: block;
}

.choose-a-shake ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.choose-a-shake--dropdown ul.top-shakes li a {
    display: block;
    background-color: #fff;
    padding: 10px 0 10px 15px;
    margin: 10px 0;
    font-size: 14px;
    color: $color-mltshp-pink;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.choose-a-shake--dropdown ul.top-shakes li a:hover {
    background-color: #fffbd9;
}

.choose-a-shake--dropdown ul.group-shakes {
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.choose-a-shake--dropdown ul.group-shakes li a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    display: block;
    font-size: 14px;
    color: $color-mltshp-pink;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.choose-a-shake--dropdown ul.group-shakes li a:hover {
    background-color: #fffbd9;
}

.choose-a-shake--dropdown .add-a-shake {
    display: block;
    float: right;
    margin-top: 10px;
}
