/* Create Account */
ul.promotions {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}
ul.promotions li {
    list-style: none;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: visible;
    height: 100px;
    width: 100px;
}
ul.promotions li .promotion-avatar {
    overflow: visible;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    height: 100px;
    width: 100px;
    border: 4px solid #ffffff;
    -moz-transition: 0.75s ease;
    -ms-transition: 0.75s ease;
    -o-transition: 0.75s ease;
    transition: all 0.75s ease 0s;
}
ul.promotions li:hover .promotion-avatar {
    border: 4px solid $color-mltshp-pink;
}
ul.promotions .promotion-name {
    display: none;
    position: absolute;
    bottom: -3.5em;
    left: -15px;
    padding: 10px;

    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 1px #bf0060;
    background-color: $color-mltshp-pink;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid $color-mltshp-pink;
    -moz-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
    white-space: nowrap;
}
ul.promotions li:hover .promotion-name {
    display: inherit;
}
