/*----------------------------------------------
  Area: API
---------------------------------------------- */

.api-accept,
.api-decline {
    float: left;
    margin-right: 30px;
    padding-bottom: 30px;
}

/*----------------------------------------------
  Area: Developer
---------------------------------------------- */
.content-developer {
    padding: 15px;
}

@media screen and (min-width: 768px) {
    .cotent-developer {
        padding: 50px;
    }
}

.content-developer dt big {
    font-size: normal;
    color: #999;
}

.content-developer dt em {
    color: #666;
}

.content-developer p {
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 1.4;
}

.content-developer h1 {
    font-size: 55px;
}

.content-developer h2 {
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
}
