/* FAQ Page */
.faq-page h1 {
    font-size: 40px;
}
.faq-page h2 {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
}

.faq-page p,
.faq-page li {
    margin-top: 5px;
    font-size: 14px;
    line-height: 28px;
}

.faq-page p a {
    color: $color-mltshp-pink;
    text-decoration: none;
    font-weight: bold;
}
