/*----------------------------------------------
  Area: Account Membership / Migration
   - also used for payment thank you page.
---------------------------------------------- */

.content-membership {
    padding: 15px;
    background-color: #fff;
}

.content-migrate {
    background: #fff url('/static/images/burger-upgrade.svg') no-repeat;
    background-position: bottom 15px center;
    background-size: 366px 481px;
    padding-bottom: 530px;
}

.content-membership-thanks {
    background: #fff url('/static/images/thankyou-dude.svg') no-repeat;
    background-position: bottom 15px center;
    background-size: 312px 410px;
    padding-bottom: 450px;
}

@media screen and (min-width: 768px) {
    .content-membership {
        padding: 40px;
    }

    .content-migrate {
        background-position: 40px 40px;
        padding-left: 430px;
        min-height: 481px;
    }

    .content-membership-thanks {
        background-position: 40px 40px;
        padding-left: 380px;
        min-height: 410px;
    }
}

.content-membership h1 {
    text-shadow: 2px 4px 1px #e0e0e0;
    line-height: 1;
}

.content-membership ul {
    padding-left: 1em;
}

.content-membership li + li {
    margin-top: 1em;
}

.content-migrate p {
    line-height: 1.4;
    font-size: 20px;
    color: #333;
    margin: 30px 0;
}

.content-membership p {
    line-height: 1.4;
}

.content-membership p a {
    color: $color-mltshp-pink;
}

.content-membership .fine-print {
    margin-top: 30px;
    font-size: 12px;
    color: #333;
    line-height: 1.4;
}

.membership-header {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .membership-header {
        margin-bottom: 40px;
    }
}

.membership-header h2 {
    font-size: 2em;
    margin-top: .5em;
    margin-bottom: .25em;
}

.membership-header p {
    font-size: 19px;
    margin: 0;
}

.membership-header--illustration {
    display: none;
}

@media screen and (min-width: 480px) {
    .membership-header {
        display: flex;
    }

    .membership-header--illustration {
        display: block;
        float: left;
        width: 75px;
        margin-right: 15px;
    }

    .membership-header--content {
        flex: 1;
    }
}
@media screen and (min-width: 768px) {
    .membership-header--illustration {
        width: 140px;
        margin-right: 40px;
    }
}

.membership-options p {
    margin-top: .25em;
}

.membership-options > * {
    margin: 15px 0;
}

.membership-options--plan .label {
    margin-bottom: .2em;
}

.membership-options--plan .btn {
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .membership-options {
        display: flex;
    }

    .membership-options.is-active-member .membership-options--plan {
        padding-top: calc(2.4 * 18px);
    }

    .membership-options.is-active-member .membership-options--plan.is-active-plan {
        padding-top: 0;
    }

    .membership-options > * {
        margin: 0;
    }

    .membership-options > * + * {
        margin-left: 40px;
    }

    .membership-options--plan {
        flex: 1;
    }
}

.membership-options--plan h3 {
    font-size: 2em;
}

.membership-options--plan ul {
    margin-bottom: 2em;
}

.membership-options--plan-title {
    text-transform: uppercase;
    color: #ff0081;
}

.membership-options--plan-tagline {
    font-size: 20px;
}

.membership-options--or {
    display: flex;
    align-items: center;
    justify-content: center;
}

.membership-options--or::before,
.membership-options--or::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #ff0081;
}

@media screen and (min-width: 768px) {
    .membership-options--or {
        flex-direction: column;
    }

    .membership-options--or::before,
    .membership-options--or::after {
        height: auto;
        width: 1px;
    }

    .membership-options--or::before {
        flex-grow: 0;
        flex-basis: 25px;
    }
}

.membership-options--or-bullet {
    background-color: #ff0081;
    border-radius: 50%;
    display: flex;
    color: #fff;
    font-size: 24px;
    width: 3em;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
}

.membership-options--or-bullet span {
    margin: auto;
}

.content-membership .subscribe-plan-quantity-wrapper {
    font-size: 2em;
    color: #999;
}

.content-membership .input-plan-quantity {
    width: auto;
    font-size: inherit;
    font-weight: bold;
    max-width: 150px;
    display: inline-block;
}

.content-membership .input-plan-quantity:invalid {
    color: #c00;
}

.content-membership .subscribe-plan-quantity-wrapper i {
    font-style: normal;
    font-size: 23px;
    color: #777;
}

.membership-footer {
    margin-top: 15px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .membership-footer {
        margin-top: 40px;
    }
}

.membership-footer p {
    margin: 0;
}
