/*----------------------------------------------
  Area: Permalink
---------------------------------------------- */

.content-permalink {
    padding: 15px;
}

@media screen and (min-width: 768px) {
    .content-permalink {
        padding: 30px;
    }
}

.content-permalink > * {
    margin: 0 !important;
    padding: 0 !important;
}

.content-permalink > * + * {
    margin-top: 15px !important;
}

@media screen and (min-width: 768px) {
    .content-permalink > * + * {
        margin-top: 30px !important;
    }
}

@media screen and (min-width: 768px) {
    .content-permalink > .permalink-sidebar {
        float: right;
        width: 330px;
    }

    .content-permalink > .image-content,
    .content-permalink > .image-comments,
    .content-permalink > .image-comment-form {
        float: left;
        width: calc(100% - 360px);
    }
}

@supports (display: grid) {
    @media screen and (min-width: 768px) {
        .content-permalink {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 330px;
            grid-template-areas: "title title"
                "image sidebar"
                "comments sidebar"
                "post-comment sidebar";
            grid-template-rows: repeat(3, min-content) 1fr;
        }

        .content-permalink > * {
            margin: 0 !important;
        }

        .content-permalink::after {
            content: none;
        }

        .content-permalink > .permalink-sidebar,
        .content-permalink > .image-content,
        .content-permalink > .image-comments,
        .content-permalink > .image-comment-form {
            width: auto;
        }

        .content-permalink > .image-title {
            grid-area: title;
        }
        .content-permalink > .image-content {
            grid-area: image;
        }
        .content-permalink > .permalink-sidebar {
            grid-area: sidebar;
        }
        .content-permalink > .image-comments {
            grid-area: comments;
        }
        .content-permalink > .image-comment-form {
            grid-area: post-comment;
        }
    }
}

.content-permalink .image-title h1 {
    font-size: 48px;
}

.image-content {
    clear: both;
    padding: 15px;
    position: relative;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .image-content {
        padding: 15px 40px 40px;
    }
}

.image-content img.unsized {
    max-width: 100%;
    height: auto;
}

.image-content .image-title {
    padding: 0;
}

.image-content .image-interactions {
    display: flex;
    float: right;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 5px;
}

.image-content .image-interactions .save-this {
    margin-right: 5px;
    position: relative;
}

.image-content .image-interactions .save-this .save-this-link:focus {
    outline: none;
}

.image-content .image-interactions .like-this {
}

.image-content .image-interactions .like-this .like-button:focus {
    outline: none;
}

.image-content .image-interactions {

    .like-button,
    .unlike-button {
        display: none;

        &.is-active {
            display: inline-block;
        }
    }

    .unlike-button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;

        img {
            display: block;
        }
    }

    .like-button,
    .save-this-link {
        line-height: 1;

        .btn--content {
            display: flex;
            align-items: center;
        }

        .btn--icon {
            height: 1.5em;
            margin-right: 0.33em;
        }

        .btn--caret {
            font-size: 0.75em;
            margin-left: 0.33em;
            vertical-align: bottom;
        }
    }

    .save-this-link {

    }
}

.image-content .image-interactions .save-this-shake-selector {
    position: absolute;
    z-index: 1;
    width: 170px;
    min-height: 30px;
    right: 0;
    top: 0;
    background-color: #ff9d00;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 7px 0;
}

.image-content .image-interactions .save-this-shake-selector-loading {
    min-height: 100px;
}

.image-content .image-interactions .save-this-shake-selector-loading::after {
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-left-color: #ffffff;
    content: '';
    display: block;
    height: 50px;
    margin: 1em auto;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 50px;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.image-content .image-interactions .save-this-shake-selector ul {
    clear: both;
    margin: 0;
    padding: 0;
    list-style: none;
}

.image-content .image-interactions .save-this-shake-selector a {
    padding: 7px 7px;
    margin: 0 7px;
    color: #fff;
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-shadow: 1px 1px 1px #e48c00;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.image-content .image-interactions .save-this-shake-selector a:hover {
    background-color: #ffb338;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.image-content .image-interactions .save-this-shake-selector .close {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    transform: rotate(180deg);
}

.image-content .image-interactions .save-this-shake-selector .close:hover,
.image-content .image-interactions .save-this-shake-selector .close:focus {
    opacity: .66;
}

.image-content .image-interactions .save-this-shake-selector .close::before {
    content: '';
    position: absolute;
    top: -19px;
    right: -15px;
    bottom: -11px;
    left: -15px;
}

.permalink-sidebar {
    position: relative;
    padding-top: 15px;
    padding-right: 30px;
}

.permalink-sidebar a {
    color: $color-mltshp-pink;
    font-weight: bold;
    text-decoration: none;
}

.sidebar-stats {
    margin-top: 30px;
    background-color: #e5fcff;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.sidebar-stats-tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    > * {
        flex: 1;
    }
}

.sidebar-stats-block {
}

.sidebar-stats-block .tab {
    padding: 10px 10px 10px 10px;
    display: block;
}

.sidebar-stats-views {
    color: #4b4b4b;
}

.sidebar-stats-views .tab {
    padding-right: 10px;
}

.sidebar-stats-saves {
    color: #ff8400;
    text-align: left;
}

.sidebar-stats-saves .tab {
}

.sidebar-stats-hearts {
    color: #ff0000;
}

.sidebar-stats-hearts .tab {
    padding-right: 10px;
}

.sidebar-stats .selected .tab {
    background-color: #fff;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar-stats .enable-cursor {
    cursor: pointer;
}

.sidebar-stats-content {
    display: none;
    background-color: #fff;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
}

.sidebar-stats-content .user-action {
    clear: both;
    margin-bottom: 5px;
    display: flex;
}

.sidebar-stats-content .icon {
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 5px;
}

.sidebar-stats-content .name {
    display: block;
    padding-top: 5px;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.sidebar-stats-content .date {
    padding-top: 7px;
    color: #7f7f7f;
    font-weight: normal;
    font-size: smaller;
    margin-left: 10px;
    display: block;
    white-space: nowrap;
}

.permalink-sidebar .meta-data {
    margin-top: 30px;
    clear: both;
}

.permalink-sidebar .meta-data h4 {
    font-size: 14px;
    padding-left: 15px;
    font-weight: bold;
    color: #666;
}

.permalink-sidebar .meta-data p {
    padding: 10px 15px;
    background-color: #ededed;
    margin: 6px 0;
    font-size: 12px;
    color: #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.permalink-sidebar h4.shake-details-title {
    font-size: 14px;
    padding-left: 15px;
    font-weight: bold;
    color: #666;
    margin-top: 30px;
    padding-bottom: 5px;
}

.permalink-sidebar .in-these-shakes {
    margin: 0 0 30px 0;
    background-color: #DFFFCB;
    padding: 15px 15px 7px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.permalink-sidebar .in-these-shakes ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.permalink-sidebar .in-these-shakes li {
    font-size: 14px;
    margin-bottom: 8px;
    display: flex;
}

.permalink-sidebar .in-these-shakes li a {
    flex: 1;
    display: block;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}

.permalink-sidebar .in-these-shakes li .input-checkbox {
    flex: none;
    margin-right: 10px;
}

.permalink-sidebar .in-these-shakes .delete-from-shakes-form {
    float: left;
    margin-right: 8px;
}

.permalink-sidebar .permalink-social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.permalink-sidebar .permalink-social > li + li {
    margin-left: 8px;
}

/* adding tumblr */
.permalink-sidebar .permalink-social .tumblr {
    a {
        background-color: #001935;
        display: inline-block;
        height: 20px;
        border-radius: 3px;
        text-decoration: none;
        color: #fff;
        font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
        cursor: pointer;
        box-sizing: border-box;
    }

    a .inner {
        /* original url https://assets.tumblr.com/images/flat-t-button-white.svg*/
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMzciIHZpZXdCb3g9IjAgMCAyMSAzNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjEgMzYuNzVoLTYuMmMtNS41NzcgMC05LjczMy0yLjg0NC05LjczMy05LjY0NlYxNi4yMUgwdi01LjlDNS41NzYgOC44NzYgNy45MDkgNC4xMiA4LjE3NyAwaDUuNzl2OS4zNTRoNi43NTd2Ni44NTZoLTYuNzU2djkuNDg2YzAgMi44NDMgMS40NDggMy44MjYgMy43NTMgMy44MjZoMy4yNzFMMjEgMzYuNzV6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=") no-repeat 6px 50%;
        background-size: 9px 12px;
        float: left;
        padding: 0 6px 0 21px;
        height: 20px;
    }

    a .text {
        line-height: 20px;
        font-weight: 700;
        font-size: 12px;
        float: right;
    }
}

.permalink-sidebar .flag-image {
    background: #fff url('/static/images/flag-this-here.svg') 0 7px no-repeat;
    background-size: 7px 9px;
    margin-top: 20px;
    color: #666;
    border: none;
    text-decoration: none;
    padding: 5px 10px 5px 12px;
    font-size: 11px;
    cursor: pointer;
}

.permalink-sidebar .flag-image-set {
    color: #f00;
}

.delete-post-text {
    margin-top: 40px;
    border: none;
    background-color: #fff;
    color: $color-mltshp-blue;
    text-decoration: underline;
    padding: 5px 10px;
    font-size: 11px;
}
