/*----------------------------------------------
  Area: Account - Following/Followers
---------------------------------------------- */

.content-relationships .body {
}

.content-relationships .body .friend,
.content-relationships .body .shake {
    border-bottom: 1px dashed #e0e0e0;
    padding: 0 40px;
}

.content-relationships  .body .user-follow-extended {
}

.content-relationships .body .user-follow-extended .follow {
}

.content-relationships .body .user-follow-extended .details {
}

.content-relationships .body .user-follow-extended .website a {
    color: $color-mltshp-blue;
}

.content-relationships .user-info .avatar {
    width: 100px;
    float: left;
    margin-right: 15px;
}

.content-relationships .user-info .details {
}

.content-relationships .user-info .details h3 {
    padding-top: 3px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
