/*----------------------------------------------
  Area: Search
---------------------------------------------- */

.content-search {
    margin-top: 8px;
    padding: 30px;
    list-style: none;
}

.content-search .search-empty-results {
    margin-left: 20px;
}

.sidebar-search-block {
    margin-bottom: 20px;
}

.sidebar-search-block .field-help {
    padding-left: 0;
}
