/* Sign-in */

#sign-in-form .field-submit {
    text-align: right;
}

.forgot-password-field {
    padding-top: 20px;
    text-align: right;
}

/* Forgot Password */

.password-manager-icon {
    float: left;
    padding-right: 20px;
}
