/*----------------------------------------------
  Global Utilities
---------------------------------------------- */

.clear {
    clear: both;
}

.code {
    font-family: Consolas, "Courier New", monospace;
}

/* advertisements */
.adblockthis {
    margin-left: 60px;
    margin-bottom: 20px;
}

.adblockthat {
    clear: both;
    margin: 80px 0 0 0;
}

.image-poster {
    padding-right: 10px;
    float: left;
}

.user-name {
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


/*----------------------------------------------------------------------
  Carets
--------------------------------------------------------------------- */
.caret {
    display: inline-block;
    border: .5em solid transparent;
    border-width: .5em .433em 0;
    border-top-color: currentColor;
    transition: transform .25s ease;
    transform-origin: center 40%;
    position: relative;
    top: -.1em;
}

.is-active .caret {
    transform: rotate(180deg);
}

/* ---------------------------------------------------------------------
  Styleguide
--------------------------------------------------------------------- */
.panel--example {
    margin: .25em 0 1em;
}
