//
// Z-Index Layer Management
//
// Each z-index value is represented as in the $layers variable, which
// can be updated or added to without having to update all z-index
// entries across the entire site.
//
// For more info see:
// http://codepen.io/stowball/post/sassier-z-index-management-for-complex-layouts
// https://www.smashingmagazine.com/2014/06/sassy-z-index-management-for-complex-layouts/
//
$layers:
    base,
    elevated,
    controls,
    search,
    stack,
    stack-top,
    nav-item,
    nav-list,
    breadcrumbs,
    tools,
    ui-front,
    ui-selectable-helper,
    toolbar-trigger,
    timeline-event,
    timeline-event-selected,
    timeline-event-range,
    timeline-overflow,
    dropdown-background,
    dropdown,
    navbar,
    color-picker,
    jsoneditor-contextmenu,
    treegrid-drag-image,
    file-uploader,
    switcher-list,
    tooltip,
    sticky-navbar,
    sticky-navbar-items,
    popover,
    fixed-top,
    loaders,
    modal-backdrop,
    off-canvas-background,
    off-canvas-trigger,
    off-canvas-nav,
    modal,
    modal-content,
    select2-drop-mask,
    select2-drop,
    select2-search,
    ubertop;

//
// Layer Function
// Retrieves a z-index value from the master layer list
//
// If called with a single parameter, it will look for the specified
// layer in the default list. If provided with a second parameter,
// it will look for the specified layer in the specified list.
//
// @function    layer
// @param       $layerName
// @param       $layerScope [optional], if not defined layer from global layer index will be chosen
// @return      z-index value [int]
// @syntax      z-index: layer("navigation");
// @syntax      z-index: layer('navigation', $layers);
//
@function layer($layerName, $layerScope: null) {

    // check if layer scope exist
    $workingLayerScope: null;

    @if ($layerScope == null) {
        $workingLayerScope: $layers;
    }
    @else {
        $workingLayerScope: $layerScope;
    }

    // assign z-index value from working scope
    $z-index: index($workingLayerScope, $layerName);

    // check if z-index exist in working scope
    @if $z-index {
        @return $z-index;
    }

    @warn "There is no layer '#{$layerName}' in current layer scope";
    @return null;
}
