.admin-new-users {
  border: 2px solid red;
  padding: 30px;
}

.admin-new-users .pagination {
  clear: both;
}

.admin-new-users .pagination .next-link {
  float: none;
}

.admin-new-users .body #new-members-list > li {
  margin-bottom: 30px;
  padding-bottom: 30px;
  clear: both;
  float: left;
  border-bottom: 1px dashed #e0e0e0;
  width: 575px;
}

.admin-new-users .body #new-members-list > li img.avatar {
  float: left;
  margin-right: 10px;
}

.admin-new-users .body #new-members-list > li h4 {
  font-size: 18px;
  font-weight: bold;
  float: left;
  width: 350px;
  padding-bottom: 5px;
}

.admin-new-users .body #new-members-list > li h4 a {
  color: #FF0080;
  text-decoration: none;
}

.admin-new-users .details {
  float: left;
  width: 350px;
}

.admin-new-users .body #new-members-list > li p {
  clear: left;
  width: 350px;
  color: #333;
  font-size: 14px;
  line-height: 1.3;
}

.admin-new-users .body #new-members-list > li p a {
  text-decoration: none;
}

.admin-new-users .flag-nsfw {
  float: right;
}

.admin-new-users .flag-nsfw a {
  display: block;
  float: right;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  padding: 7px 10px;
  background-color: #cecec6;
  color: #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.admin-new-users .flag-nsfw a:hover {
  background-color: #666;
  color: #fff;
}

.admin-new-users .image-medium {
    width: 100%;
    margin-left: 60px;
    padding-top: 10px;
    padding-bottom: 0;
}

.admin-new-users .image-medium .user-and-title .title {
    width: 500px;
}

.admin-new-users .image-medium .user-and-title > a {
    display: none;
}
