/* ---------------------------------------------------------------------
  Fun Form Layout
--------------------------------------------------------------------- */
.fun-form {
    margin-top: 20px;
}

/* form row */
.fun-form .field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.fun-form .field + .field {
    margin-top: 1em;
}

/* form field label */
.fun-form label {
    display: block;
    flex: none;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* form field wrapper */
.fun-form .field-input {
    flex: 1;
}

/* form rows that don't need flex layout */
.fun-form .field-help,
.fun-form .field-submit {
    display: block;
}

@media screen and (min-width: 768px) {

    .fun-form .field {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .fun-form label {
        flex-basis: 190px;
        margin-bottom: 0;
        margin-right: 10px;
        text-align: right;
    }

    .fun-form .field-help {
        flex-basis: 100%;
    }

    /* form rows that need indenting to match label */
    .fun-form .field-help,
    .fun-form .field-submit {
        padding-left: 200px;
    }
}

/* ---------------------------------------------------------------------
  Fun Form Field Styles
--------------------------------------------------------------------- */

/* text-y inputs */
.fun-form .input-text,
.fun-form textarea {
    background: #f2fdff;
    border: 1px solid #e4eff1;
    border-radius: 10px;
    border-width: 4px 1px 1px 4px;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    padding: 8px 10px;
    width: 100%;
}

.fun-form .input-text {
    height: 42px;
    padding-bottom: 0;
    padding-top: 0;
}

.fun-form textarea {
    height: 135px;
    resize: none;
}

/* dropdowns */
.fun-form select {
    width: 100%;
}

/* checkboxes & radio buttons */
.fun-form [type="checkbox"],
.fun-form [type="radio"] {
    margin-right: 0.5em;
}

/* submit button */
/* TODO: replace with reusable button styles */
.fun-form .input-submit {
    background-color: #ff0080;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 18px;
    text-shadow: #bf0060 0 1px 0px;
}

/* TODO: remove clearfix once action buttons aren't floated */
.fun-form .field-submit::after {
    clear: both;
    content: "";
    display: table;
}

/* help text */
.fun-form .field-help {
    color: #666;
    font-size: 0.75em;
    margin-top: 0.5em;
}

/* ---------------------------------------------------------------------
  Fun Form Errors
--------------------------------------------------------------------- */

/* List of Errors that usually lives at the top */
.fun-form-errors {
    color: #c00;
    font-size: 18px;
}

/* error balloon */
.fun-form .field .error {
    background: url('/static/images/error-hat.gif') 0 0 no-repeat;
    bottom: 30px;
    display: block;
    font-size: 12px;
    padding-left: 65px;
    padding-right: 10px;
    padding-top: 25px;
    position: absolute;
    right: -15px;
    width: 109px;
}

/* error balloon text */
.fun-form .field .error-text {
    display: block;
    min-height: 36px;
    position: relative;
    z-index: 10;
}

/* error balloon bottom */
.fun-form .field .bottoms {
    background: url('/static/images/error-bottoms-white.gif') 0 0 no-repeat;
    bottom: 10px;
    display: block;
    height: 44px;
    position: absolute;
    right: -15px;
    width: 184px;
}

@media screen and (min-width: 960px) {

    .fun-form .field .error {
        right: -160px;
    }
    .fun-form .field .bottoms {
        background-image: url('/static/images/error-bottoms.gif');
        right: -160px;
    }
}


/* ---------------------------------------------------------------------
  Stacked Fun Form Modifier
--------------------------------------------------------------------- */

.fun-form-stacked .field {
    display: block;
}

.fun-form-stacked label {
    margin-bottom: 5px;
    margin-right: 0;
    text-align: left;
}

.fun-form-stacked .field-help,
.fun-form-stacked .field-submit {
    padding-left: 0;
}

.fun-form-stacked .field .bottoms,
.fun-form-white .field .bottoms {
    background-image: url('/static/images/error-bottoms-white.gif');
}

@media screen and (min-width: 960px) {
    .fun-form-stacked.fun-form-border .field .bottoms {
        background-image: url('/static/images/error-bottoms.gif');
    }
}
