/* Styles for the /tools Picker */

body, html {
  background-color: #dbfaff;
}

body {
  margin: 8px;
}

a, a:link {
  color: #ff0080;
}

.header {
  text-align: right;
  padding: 20px;
  background: transparent url('/static/images/mltshp-tools-small.svg') 20px 0 no-repeat;
  background-size: 100px 49px;
  font-size: 12px;
  color: #666;
}

.header a {
  font-weight: bold;
}

.content {
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}

/* wrapper for floated elements, so they don't drop
on resize or other factors */
.content-inner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.content-inner > * {
  min-width: 0; /* https://github.com/philipwalton/flexbugs/issues/39 */
}

.content-inner > * + * {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {

  .content-inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .content-inner > * {
    flex-basis: calc(50% - 10px);
  }

  .content-inner > * + * {
    margin-top: 0;
  }

  .content-inner .full-width {
    flex: 1;
  }
}


/* Override fun-form for tools area */

.tools-fun-form {
  margin-top: 0;
}

.tools-fun-form .tools-field-title .input-text {
  font-weight: bold;
}

/* Success Page */

.tools-saved-it {
  padding-top: 160px;
  background: transparent url('/static/images/tools-saved-it.svg') 0 0 no-repeat;
  background-size: 320px 133px;
  font-size: 28px;
}

/* Sign-in page */

.content-sign-in {
  margin-top: 20px;
}

.tools-signin-logo {
  margin-top: 10px;
  text-align: center;
}

.sign-in-fun-form {
  padding-bottom: 20px;
  margin-top: 0;
}

@media screen and (min-width: 768px) {

  .sign-in-fun-form label {
    flex-basis: 120px;
  }

  .sign-in-fun-form .field-submit {
    padding-left: 130px;
  }
}

.content-sign-in h1 {
  padding: 30px;
  color: #006d7e;
  font-size: 26px;
  font-weight: bold;
}
