$color-mltshp-pink: #ff0080;
$color-mltshp-blue: #00aeff;

$color-primary: #ff028b;
$color-primary-hover: #df0196;
$color-primary-pastel-bg: #ffcce8;
$color-primary-pastel-fg: $color-primary;
$color-secondary: #12bbfc;
$color-secondary-hover: #0493F3;
$color-secondary-pastel-bg: #daf3ff;
$color-secondary-pastel-fg: #00adff;
$color-success: #09B896;
$color-success-hover: #08a687;
$color-success-pastel-bg: #b9ff8d;
$color-success-pastel-fg: #0caf8b;
$color-warning: #ff9600;
$color-warning-hover: #eb8a00;
$color-warning-pastel-bg: #ffe466;
$color-warning-pastel-fg: $color-warning;
$color-danger: #f30;
$color-danger-hover: #e62e00;
$color-danger-pastel-bg: #ffd4d4;
$color-danger-pastel-fg: #ff1c1c;
$color-disabled: #A1A1A1;
$color-disabled-pastel-bg: #cecec6;
$color-disabled-pastel-fg: #8d8d87;

$link-color: #42b4ff; // this should probably be mltshp blue
$link-color-hover: #0088f1;

$link-color-primary: $color-mltshp-pink;
$link-color-primary-hover: $color-primary-hover;
