<div class="sidebar">
  <ol class="admin-nav">
  <!-- <li><a href="/admin/interesting-stats">interesting stats</a></li> -->
  <!-- <li><a href="/admin/waitlist">waitlist</a></li> -->
    <li><a href="/admin/create-users">create users</a></li>
    <li><a href="/admin/nsfw-users">nsfw users</a></li>
    <li><a href="/admin/new-users">new users</a></li>
    <li><a href="/admin/recommend-group-shake">recommend a group shake</a></li>
    <li><a href="/admin/group-shakes">group shakes</a></li>
    <li><a href="/admin/shake-categories">shake categories</a></li>
  </ol>
</div>
