{%extends "base.html" %}

{% block title %}Delete User{% end %}

{% block included_headers %}
<link type="text/css" rel="stylesheet" href="{{ static_url("css/admin.css") }}">
{% end %}

{% block main %}
<div class="content content-narrow admin-new-users">
    <p>
    delete user
    </p>
    <form method="POST" action="/admin/delete-user">
      {{ xsrf_form_html() }}
      User ID: <input type="text" name="user_id" value=""><br>
      User Name: <input type="text" name="user_name" value=""><br>
      <input type="submit" value="delete user">
    </form>
</div>
{% end %}
