{%extends "base.html" %}

{% block title %}Group Shake: {{ escape(shake.display_name()) }}{% end %}

{% block main %}
<div class="content admin-shake content-narrow admin-new-users">
  <h1 class="shake-view-title">{{shake.display_name()}}</h1>

  <div class="shake-info-avatar">
    <img src="{{ shake.thumbnail_url() }}" width="70" height="70">
  </div>

  <div class="fun-form">
    <form method="POST" action="/admin/group-shake/{{shake.id}}">
      {{ xsrf_form_html() }}

      <div class="field">
        <label for="shake-owner">Shake Owner:</label>
        <div class="field-input">
          <a target="_blank" href="/user/{{ shake_editor.name }}"><img align="left" class="avatar--img" src="{{shake_editor.profile_image_url()}}" width="48" height="48" alt=""></a>
          &nbsp; <a target="_blank" href="/user/{{ shake_editor.name }}">{{ escape(shake_editor.display_name()) }}</a>
        </div>
      </div>

      <div class="field">
        <label for="shake-owner">Name:</label>
        <div class="field-input">
          {{ escape(shake.name) }}
        </div>
      </div>

      <div class="field">
        <label for="shake-owner">Description:</label>
        <div class="field-input">
          {{ escape(shake.description) }}
        </div>
      </div>

      <div class="field">
        <label for="shake-featured">Featured?</label>
        <div class="field-input"><input id="shake-featured" type="checkbox" name="featured" value="1" {% if shake.featured %}CHECKED{%end%} ></div>
      </div>

      <div class="field">
        <label>&nbsp;</label>
        <div class="field-input">
          <em>Currently featured shakes:</em>
          {% if featured_shakes %}
          <ul>
          {% for featured_shake in featured_shakes %}
            <li><a class="shake-view-featured" href="/admin/group-shake/{{featured_shake.id}}">{{featured_shake.display_name()}}</a></li>
          {% end %}
          </ul>
          {% else %}
          <br>None
          {% end %}
        </div>
      </div>

      <div class="field">
        <label for="shake-recommended">Recommended?</label>
        <div class="field-input"><input id="shake-recommended" type="checkbox" name="recommended" value="1" {% if shake.recommended %}CHECKED{%end%} ></div>
      </div>

      <div class="field">
        <label for="shake-category">Shake Category:</label>
        <div class="field-input">
          <select id="shake-category" name="shake_category_id">
            <option value="0">No Category</option>
            {% for category in shake_categories %}
              <option value="{{category.id}}" {% if shake.shake_category_id == category.id %}SELECTED{% end %}>{{category.name}} ({{category.short_name}})</option>
            {% end %}
          </select>
        </div>
      </div>

      <div class="field">
        <label>&nbsp;</label>
        <div class="field-input">
          {% if category_shakes %}
          <em>Other shakes in this category:</em>
          <ul>
          {% for category_shake in category_shakes %}
            <li><a class="shake-view-featured" href="/admin/group-shake/{{category_shake.id}}">{{category_shake.display_name()}}</a></li>
          {% end %}
          </ul>
          {% end %}
        </div>
      </div>

      <input class="btn btn-primary btn-shadow" type="submit" value="save this">
    </form>
  </div>

  <p>
    <a class="btn btn-pastel btn-secondary" href="/admin/group-shakes">&lt; Back to Shake List</a>
  </p>
</div>
{% end %}

{% block included_headers %}
<link type="text/css" rel="stylesheet" href="{{ static_url("css/admin.css") }}">
{% end %}
