{%extends "base.html" %}

{% block title %}Group Shake: {{shake.display_name()}}{% end %}

{% block included_headers %}
<link type="text/css" rel="stylesheet" href="{{ static_url("css/admin.css") }}">
{% end %}

{% block main %}
<div class="content content-narrow admin-new-users">
  <h1>{{shake.display_name()}}</h1>

  <img src="{{shake.thumbnail_url()}}" width="48" height="48">
  <p>
    {{shake.description}}
  </p>
  <form method="POST" action="/admin/group-shake/{{shake.id}}">
    {{ xsrf_form_html() }}

  <p>
    Shake Category : <select name="shake_category_id">
                        <option value="0">No Category</option>
                        {% for category in shake_categories %}
                          <option value="{{category.id}}" {% if shake.shake_category_id == category.id %}SELECTED{% end %}>{{category.name}} ({{category.short_name}})</option>
                        {% end %}
                      </select>
  </p>
  <p>
    Featured? <input type="checkbox" name="featured" value="1" {% if shake.featured %}CHECKED{%end%} >
    Currently featured: ({% for featured_shake in featured_shakes %}
                            <a href="/admin/group-shake/{{featured_shake.id}}">{{featured_shake.display_name()}}</a>
                          {% end %})
  </p>

  <input type="submit" value="save this">
  </form>
  <p>
    <a href="/admin/group-shakes">&lt; Back to Shake List</a>
  </p>


</div>
{% end %}

