{%extends "base.html" %}

{% block title %}Shake Categories{% end %}

{% block included_headers %}
<link type="text/css" rel="stylesheet" href="{{ static_url("css/admin.css") }}">
{% end %}

{% block main %}
<div class="content content-with-sidebar admin-new-users">
  {% include "admin/_sidebar.html" %}

  <div class="body">
    <h1>Shake Categories</h1>
    <p>
      No delete yet. Sorry.
    </p>
    <ul>
      {% for shake_category in shake_categories %}
        <li>{{shake_category.name}} - {{shake_category.short_name}}</li>
      {% end %}
    </ul>
    <p>
      Save A New Category
    </p>
    <form method="POST" action="/admin/shake-categories">
      {{ xsrf_form_html() }}

      Name: <input type="text" name="name"><br>
      Short name: <input type="text" name="short_name" ><br>
      <input type="submit" value="save it">
    </form>
    <p>
      <a href="/admin/">&lt; Back to the Admin</a>
    </p>
  </div>
</div>
{% end %}

