{%extends "base.html" %}

{% block title %}Shake Categories{% end %}

{% block main %}
<div class="content content-with-sidebar admin-new-users">
  {% include "admin/_sidebar.html" %}

  <div class="body">
    <h1>Shake Categories</h1>
    <ul>
      {% for shake_category in shake_categories %}
        <li>{{shake_category.name}} - {{shake_category.short_name}}</li>
      {% end %}
    </ul>
    <p>
      Save A New Category
    </p>
    <form class="fun-form fun-form-stacked" method="POST" action="/admin/shake-categories">
        {{ xsrf_form_html() }}

        <div class="field">
            <label>Name:</label>
            <div class="field-input"><input class="input-text" type="text" name="name"></div>
        </div>
        <div class="field">
            <label>Short name:</label>
            <div class="field-input"><input class="input-text" type="text" name="short_name" ></div>
        </div>
        <div class="field field-submit">
            <input class="btn btn-primary btn-shadow" type="submit" value="save it">
        </div>
    </form>
    <p>
      <a class="btn btn-pastel btn-secondary" href="/admin/">&lt; Back to the Admin</a>
    </p>
  </div>
</div>
{% end %}

