{% extends "base.html" %}

{% block title %}
  {{escape(shake.display_name())}} members
{% end %}

{% block main %}

<div class="content content-with-sidebar content-shake">
  {% include "shakes/_sidebar.html" %}

  <div class="body">

    <ul id="shake-members-list" class="shake-members">
      {% for manager in managers %}
        <li>
          <a href="/user/{{escape(manager.name)}}">
            <img class="avatar--img" src="{{manager.profile_image_url()}}" width="48" height="48">
          </a>
          <div class="details">
            <h4><a href="/user/{{escape(manager.name)}}">{{escape(manager.display_name())}}</a></h4>
            <p class="about">{{escape(manager.about)}}
            {% if manager.website %}
              <br />
              <a class="website" href="{{escape(manager.website)}}">{{escape(manager.website)}}</a>
            {% end %}
            </p>
          </div>
          {% if shake.is_owner(current_user_object) %}
            <div  class="remove-from-shake-button">
              <a class="remove-from-shake-button-link" href="">Remove From Shake</a>
              <form  style="display: none;" action="/shake/{{escape(shake.name)}}/members/remove?user_id={{manager.id}}">
                <input type="hidden" name="user_id" value="{{manager.id}}">
                {{ xsrf_form_html() }}
              </form>
            </div>
          {% end %}
        </li>
      {% end %}
    </ul>

  </div>

</div>
{% end %}
