{% extends "base.html" %}

{% block title %}
{{shake.name}} shake
{% end %}

{% block included_headers %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="https://mltshp.com/shake/{{shake.name}}/rss">
{% end %}

{% block main %}

<div class="content content-with-sidebar content-shake">

  {% include "shakes/_sidebar.html" %}

  <div class="body">
    <div class="image-content-list">
      {% for sharedfile in shared_files %}
        {{modules.Image(sharedfile, current_user=current_user_obj, list_view=True, show_attribution_in_title=True, shake=shake)}}
      {% end %}
    </div>
    <div class="linear-navigation">
      <div class="older">
        {% if older_link %}
          <a class="btn btn-secondary btn-shadow" href="{{ older_link }}">&laquo; Older</a>
        {% end %}
      </div>
      <div class="newer">
        {% if newer_link %}
          <a class="btn btn-secondary btn-shadow" href="{{ newer_link }}">Newer &raquo;</a>
        {% end %}
      </div>
    </div>

  </div>
</div>
{% end %}
