{% extends "base.html" %}

{% block title %}Code of Conduct{% end %}

{% block main %}
<!-- source https://docs.google.com/document/d/13G_Yu3KK3DHsHicZ08wgMepsn54f2p0juj38UK-PTrk/edit# -->
<div class="content content-narrow">
  <div class="code-of-conduct">
    <h2>MLTSHP Beginner's Guide</h2>
<i>We're a small community and we're volunteer run. Here's user <a href-"https://mltshp.com/user/tonyb">tonyb</a> with some advice on how to get started.</i>
    <h3>Subheader</h3>

<P>text goes here</P>
  </div>
</div>
{% end %}
