{% extends "base.html" %}

{% block title %}Code of Conduct{% end %}

{% block main %}
<!-- source https://docs.google.com/document/d/13G_Yu3KK3DHsHicZ08wgMepsn54f2p0juj38UK-PTrk/edit# -->
<div class="content content-narrow">
  <div class="code-of-conduct">
    <h2>MLTSHP Code of Conduct</h2>

    <h3>TL;DR</h3>
    <ul>
      <li>Be kind</li>
      <li>Don't be a troll</li>
      <li>Don’t harass the site or each other</li>
      <li>Don’t dox the site or each other</li>
      <li>Don't spam the site or each other</li>
    </ul>

    <p>Let’s keep MLTSHP a haven of awesomeness.</p>

    <h3>Strive For More</h3>
    <p>
      MLTSHP is special because we are honest, funny, and genuinely care about each other.
      Here’s how you can be a part of this community:
    </p>

    <p>
      <strong>Be welcoming.</strong> We strive to be a community that welcomes and supports
      everyone, regardless of level of experience, race, ethnicity, culture, national origin,
      color, immigration status, social and economic class, educational level, sex, gender,
      sexual orientation, gender identity and expression, age, size, family status, personal
      appearance, political belief, religion, mental and physical ability, or other similar
      characteristic.
    </p>

    <p>
      <strong>Be friendly and patient.</strong> Have you ever not known something? Think back
      to those times and treat others the way you would like to be treated. Strive to keep your
      snark light and friendly.
    </p>

    <p>
      <strong>Be respectful.</strong> We don’t have to agree all the time, but disagreement is
      no excuse for poor behavior and poor manners. Frustration is acceptable, but personal
      attacks are not. A community where people feel uncomfortable or threatened is no fun for
      anyone. We will strive to resolve disagreements and differing views constructively.
    </p>

    <h3>Content Guidelines</h3>

    <p>
      MLTSHP posts are sometimes funny, intriguing, beautiful, dark, juvenile, silly,
      mesmerizing, or anywhere in between. We try not to police content, but some guidelines
      can help keep MLTSHP visits pleasant.
    </p>

    <ul>
      <li>Please flag your post NSFW proactively if it might be unwelcome in a workplace.
          Don’t get crabby if someone else flags your post NSFW.</li>
      <li>Depictions of non-consensual physical or sexual abuse, violent acts, or outright
          gore are prohibited. Not sure what this means? Ask us!</li>
      <li>Overtly sexual or racist usernames or other usernames that might detract from a
          welcoming environment are prohibited.</li>
      <li>Accounts, posts, or links to pages for the purpose of monetization of user views
          are prohibited.</li>
      <li>Sometimes community members may offer items for sale to other community members;
          this is cool. However, accounts created for the primary purpose of business
          promotion are prohibited.</li>
    </ul>

    <h3>Unacceptable Conduct</h3>

    <p>
      We understand that asking users to generally “be nice” doesn’t offer a complete picture
      of acceptable behavior. Here are a few examples of unacceptable behavior, though this
      list is not meant to be exhaustive:
    </p>

    <ul>
      <li>Harassment and other exclusionary behavior aren't acceptable. This includes, but is
          not limited to:
        <ul>
          <li>Violent threats or language directed against another person, including encouraging
              a person to commit suicide or to engage in self-harm.</li>
          <li>Offensive comments related to gender, gender identity and expression, sexual
              orientation, disability, mental illness, neuro(a)typicality, physical appearance,
              body size, race, ethnicity, or religion.</li>
          <li>Posting sexually explicit or violent material outside of a personal post flagged NSFW.</li>
          <li>Posting (or threatening to post) other people's personally identifying
              information ("doxing").</li>
          <li>Personal insults, especially those using racist or sexist terms.</li>
          <li>Unwelcome sexual attention. ANY sexual attention after being told to stop.</li>
          <li>Advocating for, or encouraging, any of the above behavior.</li>
        </ul>
      </li>
      <li>Repeated harassment of others. In general, if someone asks you to stop, then stop.</li>
      <li>Private harassment is also unacceptable.</li>
      <li>Likewise any spamming, trolling, flaming, baiting or other attention-stealing
          behavior is not welcome.</li>
    </ul>

    <h3>Reporting and Consequences</h3>

    <ul>
      <li>If you feel a post or comment thread needs moderation, please contact the MLTSHP
          <a href="mailto:tweedlydo@gmail.com">community</a>
          <a href="mailto:jessamyn@gmail.com">moderators</a>
          right away.</li>
      <li>If you feel you have been or are being harassed or made uncomfortable by a community
          member, please contact the MLTSHP
          <a href="mailto:tweedlydo@gmail.com">community</a>
          <a href="mailto:jessamyn@gmail.com">moderators</a>
          right away. Whether you’re a regular contributor or a newcomer, we care about
          making this community a positive place for you and we’ve got your back.</li>
      <li>Moderators may determine that content or comments are inappropriate even if they are
          not specifically addressed elsewhere in this code of conduct.</li>
      <li>Inappropriate content may be removed by community moderators without notice.</li>
      <li>Users asked to stop any harassing behavior are expected to comply immediately.</li>
      <li>In an effort to keep our spaces positive for everyone, moderators and administrators
          may take any action they deem appropriate, up to and including expulsion of users
          from all MLTSHP spaces.</li>
      <li>Disagreements with MLTSHP community moderators should be addressed in private with
          direct communication. Policy disagreements on posts or comment threads are not
          allowed.</li>
    </ul>

    <h3>Credits</h3>

    <p>
      This Code of Conduct draws heavily from codes of conduct at
      <a href="https://github.com/zatech/code-of-conduct">ZA-Tech</a>,
      <a href="https://www.rust-lang.org/en-US/conduct.html">Rust</a>, and
      <a href="https://www.djangoproject.com/conduct/">Django</a>
      and is inspired by the spirit of
      <a href="http://www.metafilter.com/guidelines.mefi">MetaFilter’s Posting Guidelines</a>.
    </p>
  </div>
</div>
{% end %}
