{% extends "base.html" %}

{% block title %}Frequently (Probably) Asked Questions{% end %}

{% block main %}
  <div class="content content-narrow">
    <div class="faq-page">
      <h1>Frequently Asked Questions</h1>

      <h2>What Is Going On Here?</h2>
      <p>
        MLTSHP is an approximate clone of the much-loved site MLKSHK created by Andre and Amber
        which <a href="http://waxy.org/2017/04/closing-communities-ffffound-vs-mlkshk/">closed
        in April of 2017</a>. MLTSHP is volunteer run, subscription-based and is a registered
        corporation in Delaware. <a href="https://github.com/MLTSHP">The code is on Github</a> along with <a href="https://github.com/MLTSHP/welcome">a welcome module there</a> which talks about what is going on.
        There is also <a href="https://mlkshk-v2.signup.team/">a Slack</a> and <a href="https://www.facebook.com/groups/1833082553635028/?ref=bookmarks">a Facebook group</a>.
      </p>

      <h2>What Do the Membership Levels Mean?</h2>
      <p>
        We ran some numbers and determined that with our current membership, we could run the
        site if most users contributed $2/month. This includes things like paying for storage, hosting,
        bandwidth, a business license, someone to do our taxes and answer the odd legal question
        we may have to ask. We added a "bare bones" membership because we don't want anyone to be
        excluded. Stripe handles the money stuff and the subscriptions. You can change your
        subscription type at any time. You can pay more if you'd like. Paying more might help us make stickers.
      </p>
      <p>
        Everyone can save, like, and comment on their friends' images. Users at the Double Scoop
        level can also make up to 100 of their own shakes, get a little plus sign next to their
        name, and can have RSS feeds for their shakes.
      </p>

      <h2>What Can I Upload or Save?</h2>
      <p>
        You can upload JPG, GIF, or PNG files. You can post links to videos from YouTube, Vimeo, or Flickr.
      </p>
      <p>
        Image files should be a reasonable size. Be nice to your 
        friends on mobile phones or tablets. Be nice to our bandwidth quota.
      </p>

      <h2>How Do I Contact Someone?</h2>
      <p>You can contact us directly by email 
        at <a href="mailto:hello@mltshp.com">hello@mltshp.com</a>. We'll try to respond as quickly as possible.
      </p>

       <h2>What If I Find A Bug or Have a Feature Request?</h2>
      <P> You can <a href="https://github.com/MLTSHP/mltshp/issues">file a ticket on Github</a> or talk to people in realtime <a href="https://mlkshk-v2.signup.team/">on our Slack</a>. Check our <a href="https://github.com/MLTSHP/mltshp/wiki/Browser-Support-Matrix">Browser Support Matrix</a> to make sure you are using a supported browser. Thanks for helping!</P>
      
      <h2>How Can I use RSS to Follow the Best of MLTSHP Account?</h2>
      <p>
        Using some magic, the <a href="/user/mltshp">MLTSHP</a> user saves some of the best 
        images from the site. You can access that RSS feed with <a href="/user/mltshp/rss">this link</a> or follow <a href="best_of_mltshp">@best_of_MLTSHP</a> on Twitter.
      </p>

      <h2>How Can I Use MLTSHP to Host Photos I Tweet to Twitter?</h2>
      <p>
        First <a href="/tools/twitter">set up your Twitter account</a> to work with MLTSHP, after
        connecting you'll get a <a href="/tools/twitter/how-to">tutorial</a> on how to configure
        your phone.
      </p>

      <h2>Where Can I Get a Plugin for Safari, Firefox, or Chrome?</h2>
      <p>
        Plugins <a href="/tools/plugins">can be found here</a>. If you'd like to make one, please
        email us and we can walk you through what we'd need.
      </p>

      <a name="bad_password"></a>
      <h2>Why Are You Giving Me Grief About My Password?</h2>
      <p>
        Given the recent news of password hijacking and fears about security, we took 
        <a href="http://www.whatsmypass.com/the-top-500-worst-passwords-of-all-time">a popular list of bad passwords</a> 
        and match them against passwords being used to create accounts on MLTSHP. Try again?
      </p>
    </div>
  </div>
{% end %}
