{% extends "base.html" %}

{% block title %}Frequently (Probably) Asked Questions{% end %}

{% block main %}
  <div class="content content-narrow">
    <div class="faq-page">
      <h1>Frequently Asked Questions</h1>
      <h2>What Can I Upload or Save?</h2>
      <p>
        You can upload JPG, GIF, or PNG files. You can post links to videos from YouTube, Flickr, or Vimeo.
      <br>
        Image files should be under 3 megabytes, but under 1.5 megabytes is suggested. Be nice to your 
        friends on mobile phones or tablets. Those things don't have a lot of RAM and it could make
        displaying images choppy.
      </p>
      <h2>What Do I Do If I Find A Bug?</h2>
      <p>If you want to contact us directly send an email 
        to <a href="mailto:support@mltshp.com">support@mltshp.com</a>
        and we'll try to respond as quickly as possible. Thanks for helping!
      </p>
<h2>How Can I use RSS to Follow the Best of MLTSHP Account?</h2>
       <!--    IS THIS STILL A THING?  <p>
        The <a href="http://twitter.com/best_of_mltshp">@best_of_mltshp</a> account automatically
        tweets images that receive over 20 likes on MLTSHP. There is a site 
        called “<a href="http://shakefeed.com/">Shake Feed</a>” that converts these tweets to 
        an RSS feed you can <a href="http://shakefeed.com/rss">find here</a>.
      </p>-->
      <p>
        Using some magic, the <a href="/user/mltshp">MLTSHP</a> user saves some of the best 
        images from the site. You can access that RSS feed with <a href="/user/mltshp/rss">this link</a>.
      </p>
      <h2>How Can I Use MLTSHP to Host Photos I Tweet to Twitter?</h2>
      <p>
        First <a href="/tools/twitter">set up your Twitter account</a> to work with MLTSHP, after
        connecting you'll get a <a href="/tools/twitter/how-to">tutorial</a> on how to configure
        your phone.
      </p>
      <h2>Where can I get a plugin for Safari, Firefox, or Chrome?</h2>
      <p>
        Plugins <a href="/tools/plugins">can be found here</a>. If you'd like to make one, please
        mail us and we can walk you through what we'd need.
      </p>
      <a name="bad_password"></a>
      <h2>Why Are You Giving Me Grief About My Password?</h2>
      <p>
        Given the recent news of password hijacking and fears about security, we took 
        <a href="http://www.whatsmypass.com/the-top-500-worst-passwords-of-all-time">a popular list of bad passwords</a> 
        and match them against passwords being used to create accounts on MLTSHP. Try again?
      </p>
    </div>
  </div>
{% end %}
