<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title%}mltshp{% end %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="{{ static_url("css/main.css") }}">

    {% block included_headers %}{% end %}

    <script type="text/javascript" charset="utf-8">
      window.resizeTo(850,650);
      window.moveTo(screen.width/2-450,screen.height/2-300)
    </script>
  </head>
  <body class="tools-page">

    <div class="header">
      <a href="/" target="_blank"><img src="/static/images/mltshp-tools-small.svg" alt="MLTSHP"></a>
      you are signed in as {{current_user['name']}} | <a href="/sign-out" target="_blank">sign out</a>
    </div>

    <div class="content">
      <div class="content-inner">
      {% block main %}
        {{content}}
      {% end %}
      </div>
    </div>

    <script type="text/javascript" charset="utf-8" src="{{ static_url("js/jquery-min-1.4.2.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/tools.js")}}" charset="utf-8"></script>
    {% block included_scripts %}{% end %}
  </body>
</html>
