{% if errors.no_service or errors.no_friends or errors.twitter_down or errors.twitter_rate_limit %}
  {% if errors.no_service %}
    <h3 class="message"><a href="/tools/twitter">Connect Twitter</a> to find your Twitter friends on MLTSHP.</h3>
  {% end %}
  {% if errors.no_friends %}
    <h3 class="message">Sorry, couldn't find any of your Twitter friends on MLTSHP.</h3>
  {% end %}
  {% if errors.twitter_down %}
    <h3 class="message">It looks like Twitter is down. You'll have to try a little later.</h3>
  {% end %}
  {% if errors.twitter_rate_limit %}
    <h3 class="message">It looks like your account is over the Twitter rate limit.</h3>
    
    <h3 class="message">Try again in a little bit.</h3>
  {% end %}
{% else %}
  <p class="intro">You've connected your <strong>{{externalservice.screen_name}}</strong> Twitter account.  Here are some people that you follow on Twitter who are also on MLTSHP.</p>
  {% for friend in friends %}
    <div class="friend">
      {{modules.ShakeFollow(follow_user=friend, current_user=current_user_obj, avatar_size=50, extended=True)}}
    </div>
  {% end %}
  <div class="refresh-friends" id="refresh-friends">
    <div class="action-button"><a href="/find-shakes/twitter" class="sky"><span>Refresh Friend List</span></a></div>
    <div class="clear"><!-- --></div>
  </div>
{% end %}
