{% extends "base.html" %}
{% block title %}
  Find Other People to Follow.
{% end %}
{% block main %}
  <div class="content content-find-shakes">
    <h1>Find Shakes to Follow</h1>
    
    <ul class="find-shakes-navigation">
      <li><a href="/tools/find-shakes">Group Shakes</a></li>
      <li class="selected"><a href="/tools/find-shakes/people">People</a></li>
      <li><a href="/tools/find-shakes/twitter">Twitter</a></li>
    </ul>
    
    <div class="sidebar">
      <h3>Some Good Folks</h3>
      <div class="sidebar-content">
        {% if len(users_sidebar) > 0 %}
          <p>People who posted files you&rsquo;ve liked.</p>
          {% for user in users_sidebar %}
            {% if user.id != current_user_obj.id %}
              {{modules.ShakeFollow(follow_user=user, current_user=current_user_obj, avatar_size=50)}}
            {% end %}
          {% end %}
        {% else %}
          Like some files to generate more recommendations.
        {% end %}
      </div>
    </div>
    
    <div class="body">
      {% for friend in users %}
        <div class="friend">
          {{modules.ShakeFollow(follow_user=friend, current_user=current_user_obj, avatar_size=50, extended=True)}}
        </div>
      {% end %}
    </div>
  </div>
{% end %}