{% extends "base.html" %}
{% block title %}
  Find Other People to Follow.
{% end %}
{% block main %}
  <div class="content content-with-sidebar content-with-sidebar-reversed content-find-shakes">
    <div class="header">
      <h1>Find Shakes to Follow</h1>
    </div>

    <div class="sidebar">
      <div class="good-folk-block">
        <h3>Some Good Folks</h3>
        <div class="good-folk-block-content">
          {% if len(users_sidebar) > 0 %}
          <p>People who posted files you&rsquo;ve liked.</p>
            {% for user in users_sidebar %}
              {% if user.id != current_user_obj.id %}
                {{modules.ShakeFollow(follow_user=user, current_user=current_user_obj, avatar_size=50)}}
              {% end %}
            {% end %}
          {% else %}
          Like some files to generate more recommendations.
          {% end %}
        </div>
      </div>
    </div>

    <div class="body">
      <ul class="find-shakes-navigation">
        <li class="selected"><a href="/tools/find-shakes">Group Shakes</a></li>
        <li><a href="/tools/find-shakes/people">People</a></li>
        <li><a href="/tools/find-shakes/twitter">Twitter</a></li>
      </ul>

      <div class="featured-shakes">
        <h3>This Week's Picks</h3>
        <ul>
          {% for shake in featured_shakes %}
            <li>
              <a href="/{{shake.name}}"><img src="{{shake.page_image()}}"></a>
              <h4><a href="/{{shake.name}}">{{escape(shake.display_name())}}</a></h4>
              <p>{{escape(shake.description)}}</p>
            </li>
          {% end %}
        </ul>
      </div>

      <div id="shake-categories" class="shake-categories">
        {% for category in categories %}
        <div class="shake-category">
          <h4 class="category-title"><a class="shake-category-toggle" href="#{{ escape(category.short_name) }}">{{ escape(category.name) }}</a></h4>
          <div class="shake-category-body">
          </div>
        </div>
        {% end %}
      </div>

      <p class="shake-tips">Got a great shake? Let us know about it! Send an email to <a href="mailto:hello@mltshp.com">hello@mltshp.com</a>.</p>

    </div>
  </div>
{% end %}
