{% extends 'tools/base.html' %}

{% block main %}
<div class="picker-content">
    {% if current_user and current_user_object and current_user_object.email_confirmed != 1 %}
    <div class="email-unverified">
      <h2>Email Unconfirmed</h2>
      <h3>In order to post, you have to confirm your email address first. Check your email for the confirmation
          link. Visit your <a href="/account/settings" target="_blank">account settings</a> if you need it re-sent.</h3>
    </div>
    {% else %}
    {% if can_upload_this_month %}
      <form class="fun-form fun-form-stacked tools-fun-form" method="post" action="/tools/p">

        <div class="field tools-field-title">
          <div class="field-input">
            <input class="input-text" type="text" name="title" autocomplete="off" value="{{escape(file_name)}}">
            {% if errors.title %}
            <div class="error">
              <span class="error-text">
                {{errors.title }}
              </span>
            </div>
            {% end %}
          </div>
        </div>

        <div class="field field-textarea">
          <div class="field-input">
            <div class="field-input-inner">
              <textarea id="description-field" name="description" value="{{escape(description)}}">{% if source_url %}source: {{source_url}}{% end %}</textarea>
              {% if errors.description %}
              <div class="error">
                <span class="error-text">
                  {{errors.description }}
                </span>
              </div>
              {% end %}
            </div>
          </div>
        </div>

        <div class="field field-textarea">
          <div class="field-input">
            <div class="field-input-inner">
              <textarea id="alt-text-field" name="alt_text">{% if alt_text %}{{alt_text}}{% end %}</textarea>
              {% if errors.alt_text %}
              <div class="error">
                <span class="error-text">
                  {{errors.alt_text }}
                </span>
              </div>
              {% end %}
            </div>
          </div>
        </div>

        {% if len(shakes) > 1 %}
          <div class="field tools-field-title">
            <div class="field-input">
              <select name="shake_id">
              {% for shake in shakes %}
                <option value="{{shake.id}}">{% if shake.type == 'user'%}user shake{% else %}{{shake.name}}{%end%}</option>
              {% end %}
              </select>
            </div>
          </div>
        {% end %}

        <div class="field field-submit tools-save-this">
          <input type="hidden" name="source_url" value="{{escape(source_url)}}">
          <input type="image" src="{{ static_url("images/tools-save-this.svg") }}" width="171" height="84" alt="Save This">
        </div>
        {{ xsrf_form_html() }}
        <input type="hidden" name="url" value="{{url}}">
      </form>
    </div>

    <div class="picker-image">
      <img src="{{url}}" alt="">
    </div>
    {% else %}
    <div class="over-upload-limit">
      <h2>Upload account limit</h2>
      <h3>You've reached the limit on the number of megs you can upload in a month. That limit is 300 megabytes. If you'd like to <a href="/account/membership" target="_blank">become a Double Scoop member</a>! It's just $2/month.</h3>
    </div>
    {% end %}
    {% end %}
{% end %}
