{% extends 'tools/base.html' %}

{% block main %}
  <div class="picker-content">
    <h2 class="tools-saved-it">{{escape(sf.get_title())}} has been saved.</h2>

    <form id="fun-form-settings-profile" class="fun-form fun-form-stacked fun-form-border">
        <div class="field">
            <label>Image URL (<a href="{{app_scheme}}://{{app_host}}/p/{{sf.share_key}}" target="_blank">Go there now</a>)</label>
            <div class="field-input">
                <input nonClick="javascript:this.focus();this.select();" type="text" class="input-text" name="bookmarklet"
                value="{{app_scheme}}://{{app_host}}/p/{{sf.share_key}}">
            </div>
        </div>
        <div class="field">
            <label>Direct Image URL</label>
            <div class="field-input">
                <input nonClick="javascript:this.focus();this.select();" type="text" class="input-text" name="bookmarklet"
                value="{% if cdn_host %}https://{{cdn_host}}{% else %}{{app_scheme}}://{{app_host}}{% end %}/r/{{sf.share_key}}">
            </div>
        </div>
    </form>
  </div>

  <div class="picker-image">
    <img src="/r/{{sf.share_key}}">
  </div>
{% end %}
