{% extends "base.html" %}

{% block title %}Plugins{% end %}

{% block main %}
  <div class="content content-narrow">
    <h1>Browser Plugins</h1>
    <p>
      We now have THREE browser plugins for you to use. A Safari extension, a Firefox add-on, and a Chrome extension. We intend on providing a plugin for every browser out there, but if you 
      would like to help us out by making one, please contact <a href="mailto:hello@mltshp.com">hello@mltshp.com</a>.
    <p>
        <a href="/static/plugins/mltshp.safariextz"><img src="/static/images/safari-icon.png" width="48" height="48" align="center"></a> <a href="/static/plugins/mltshp.safariextz">Safari Extension</a>
    </p>
    <p>
        <a href="/static/plugins/mltshp.firefox.xpi"><img src="/static/images/firefox-icon.png" width="48" height="48" align="center"></a> <a href="/static/plugins/mltshp.firefox.xpi">Firefox Add-On</a>
    </p>
    <p>
        <a href="https://chrome.google.com/webstore/detail/iniiohjohgnfepoaehdnihpmhnpimiab"><img src="/static/images/chrome-icon.png" width="48" height="48" align="center"></a> <a href="/static/plugins/mltshp.chrome.crx">Chrome Extension</a>
    </p>
    
  </div>
{% end %}
