<div class="content">
  {% if url %}
    <h2>Is this the video?</h2>
    {{html}}
    <form class="post-video-form" method="POST" action="/tools/save-video">
      {{ xsrf_form_html() }}
      <input type="hidden" name="url" value="{{url}}">
      <input type="hidden" name="shake_id" value="{{escape(shake_id)}}">
      <div class="action-button"><a href=""><span>Yes! Post it please!</span></a></div>
    </form>
  {% else %}
    <h2>Post a Video</h2>
    <p>To post a video enter the URL to the video below. We currently support videos from YouTube, Flickr, Vimeo &amp; Vine.</p>
    <form action="/tools/save-video" method="get" class="fun-form save-video-form">
      <input type="hidden" name="shake_id" value="{{escape(shake_id)}}">
      <div class="field-input"><input name="url" class="input-text"></div>
      <div class="action-button"><a href=""><span>Go get it!</span></a></div>
    </form>
  {% end %}
</div>
