{% extends "base.html" %}

{% block included_scripts %}
<script type="text/javascript" charset="utf-8">
  slide_number=1;
  
  $(document).ready(function() {
    $('#previous_button').hide();
    
    $('#next_button').click(function() {
      slide_number += 1;

      if (slide_number > 5) {
          $('#next_button').hide();
      } else if (slide_number > 1){
          $('#previous_button').show();
      } else {
        $('#previous_button').hide();
      }
      
      $('#step-' + (slide_number - 1)).hide();
      $('#step-' + (slide_number)).show();
    });
    
    $('#previous_button').click(function() {
      slide_number -= 1;
      
      if (slide_number > 5) {
          $('#next_button').hide();
      } else if (slide_number > 1){
          $('#previous_button').show();
          $('#next_button').show();
      } else {
        $('#previous_button').hide();
      }
      
      
      $('#step-' + (slide_number + 1)).hide();
      $('#step-' + (slide_number)).show();
    });
  });
</script>
{% end %}


{% block title %}How To Use Twitter with MLTSHP{% end %}

{% block main %}
  <div class="content content-narrow">
    <h1>Using Twitter with MLTSHP</h1>

    <div class="steps" id="step-1" style="display:inline;">
      <p>Note: Twitter app doesn't do this anymore but apps like Tweetbot do.</p>
        <p>Tap your user avatar at the top left</p>
      <p><img src="{{ static_url('images/twitter1.PNG') }}" width="320" height="568"></p>
    </div>
    
      <div class="steps" id="step-2">
      <p>Tap the gear icon at the bottom to open the settings</p>
      <p><img src="{{ static_url('images/twitter2.PNG') }}" width="320" height="568"></p>
    </div>
    
      <div class="steps"  id="step-3">
      <p>Tap on your user account settings (personal name)</p>
      <p><img src="{{ static_url('images/twitter3.PNG') }}" width="320" height="568"></p>
    </div>
    
      <div class="steps" id="step-4">
      <p>Tap on Image Upload</p>
      <p><img src="{{ static_url('images/twitter4.PNG') }}" width="320" height="568"></p>
    </div>
    
      <div class="steps" id="step-5">
      <p>Tap on Custom</p>
      <p><img src="{{ static_url('images/twitter5.PNG') }}" width="320" height="568"></p>
    </div>
    
      <div class="steps" id="step-6">
      <p>Enter the MLTSHP upload URL and tap Done</p>
      <p><img src="{{ static_url('images/twitter6.PNG') }}" width="320" height="568"></p>
    </div>

    <p style="text-align:center;">
      <a href="#" id="previous_button">Previous</a>&nbsp;&nbsp;
      <a href="#" id="next_button">Next</a>
    </p>
  </div>
{% end %}
