{% extends "base.html" %}

{% block title %}Twitter Connected!{% end %}

{% block main %}
  <div class="content content-narrow">
    <h1>Connected!</h1>
    <p>Your account is now connected.</p>
   <!-- <p>If you want to find some of your friends also on Twitter and MLTSHP do that on the <a href="/tools/find-shakes/twitter">find people page.</a></p> -->
    <p>If you want to use your phone to post pictures to MLTSHP while you tweet, you can do that with some apps. Check the <a href="/tools/twitter/how-to">setup Twitter page</a>.</p>
  </div>
{% end %}
