{% extends "base.html" %}
{% block title %}Connect Twitter{% end %}
{% block main %}
  <div class="content content-narrow">
    <h1>Connect Twitter</h1>
    <p>Connecting your Twitter account allows you to search for your Twitter friends already on MLTSHP, and to post your images from your Twitter for iPhone app when you&rsquo;re mobile.</p>
    <div class="action-button"><a class="sky" href="/tools/twitter/connect"><span>Connect It</span></a></div>
    <div class="clear"><!-- --></div>
  </div>
{% end %}
