{%extends "base.html" %}

{% block main %}
  <div class="content content-with-sidebar content-incoming">
    <div class="incoming-header">
      <h2 class="incoming-header--title">Our most recent files</h2>
    </div>

    <div class="sidebar">
    {% if notifications_count > 0 %}
      <div class="notification-block notification-block-aggregate" id="notification-block-aggregate">
        <div class="notification-block-hd">
          Show {{notifications_count}} notification{% if notifications_count != 1 %}s{% end %}
          <span class="caret"></span>
        </div>
      </div>
    {% end %}

      <div class="tip-block">
        <h3>Did You Know?</h3>
        <p>For shake views like this, you can use
          your keyboard to view the next post (<tt>J</tt>),
          previous post (<tt>K</tt>),
          jump to the bottom of page (<tt>H</tt>)
          (and another <tt>H</tt> at the bottom to go
          to the "Older" page of posts),
          jump to the top (<tt>L</tt>) (and another <tt>L</tt>
          to go to the "Newer" page of posts).
          <em>It's been that way for years.</em></p>
      </div>
    </div>

    <div class="body">
      <div class="image-content-list meta hentry">
        {% for sharedfile in sharedfiles %}
          {{modules.Image(sharedfile, current_user=current_user_obj, list_view=True, show_attribution_in_title=True)}}
        {% end %}
      </div>
      <div class="linear-navigation">
        <div class="older">
          {% if older_link %}
          <a class="btn btn-secondary btn-shadow" href="{{ older_link }}">&laquo; Older</a>
          {% end %}
        </div>
        <div class="newer">
          {% if newer_link %}
          <a class="btn btn-secondary btn-shadow" href="{{ newer_link }}">Newer &raquo;</a>
          {% end %}
        </div>
      </div>
    </div>
  </div>
{% end %}
