//
// Beta Alert
//
// 1. once beta is over, .page can be moved to body
//    and .wrapper can be removed entirely.
//
.alert {
    background: $color-danger-pastel-bg;
    color: $color-danger-pastel-fg;
    font-size: .9em;
    font-weight: 300;
    line-height: 1.25;
}

.alert a,
.alert strong {
    color: $color-danger-pastel-fg;
    font-weight: bold;
}

.alert marquee {
    padding: .66em 1em;
}
