.bookmark {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
    .hide-on-small {
        display: none;
    }
}

.bookmark-flag {
    flex: none;
    margin-top: -3px;
    background: #ff0180;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.bookmark-flag::before,
.bookmark-flag::after,
.bookmark-flag--content::before,
.bookmark-flag--content::after {
    position: absolute;
    content: '';
    display: block;
}

.bookmark-flag::before {
    width: 5px;
    height: 100%;
    padding-bottom: 5px;
    top: 0;
    left: -5px;
    background: inherit;
    border-radius: 5px 0 0 5px;
}

.bookmark-flag::after {
    width: 3px;
    height: 4px;
    background: rgba(0, 0, 0, 0.35);
    bottom: -4px;
    left: -3px;
    border-radius: 3px 0 0 3px;
}

.bookmark-flag--content {
    display: block;
    padding: .5em 1em;
    line-height: 1;
}

.bookmark-flag--content::after {
    top: 0;
    right: -.866em;
    border: 1em solid #ff0180;
    border-width: 1em .866em 1em 0;
    border-right-color: transparent;
}

.jump-back {
    flex: 1;
    margin-left: .75em;
    padding: calc(.5em - 3px) 0 .5em .75em;
    font-size: 11px;
    white-space: nowrap;
}
.jump-back a {
    color: $color-mltshp-pink;
    text-decoration: none;
    font-weight: bold;
}
