//
// Buttons
//
.btn,
.label {
    border: none;
    border-radius: .5em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    height: 2.2em;
    letter-spacing: .033em;
    line-height: 2.2em;
    padding: 0 .88em;
    text-align: center;
    text-decoration: none;
    text-shadow: .05em .05em .05em rgba(0, 0, 0, .5);
    transition-duration: .2s;
    transition-property: background-color, color;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.label {
    cursor: default;
}

.btn:hover,
.btn:focus {
    color: #fff;
}

.btn:focus {
    outline: none; // this is safe because we've ensured good focus styles
}

// buttons with muted colors
.btn-pastel,
.label-pastel {
    font-weight: 600;
    letter-spacing: 0.015em;
    text-shadow: none;
}

// buttons with shadows
.btn-shadow {
    box-shadow: .22em .22em 0 rgba(0, 0, 0, .125);
    margin-right: .22em;
}

// buttons with extra padding
.btn-padded {
    height: 2.6em;
    line-height: 2.6em;
    padding: 0 1.25em;
}

// button size variations
.btn-large,
.label-large {
    font-size: 24px;
    letter-spacing: .066em;
}

.btn-large.btn-pastel,
.label-large.label-pastel {
    letter-spacing: 0.033em;
}

.btn-small,
.btn-tiny,
.label-small,
.label-tiny {
    font-size: 12px;
    font-weight: 400;
}

.btn-tiny,
.label-tiny {
    font-size: 10px;
    padding: 0 .66em;
}

.btn-small.btn-pastel,
.btn-tiny.btn-pastel,
.label-small.label-pastel,
.label-tiny.label-pastel {
    font-weight: 500;
}

// buttons that only contain an icon
.btn-icon {
    padding: 0;
    width: 2.2em;
}

.btn-icon.btn-padded {
    padding: 0;
    width: 2.6em;
}

// Primary: Provides extra visual weight and identifies the primary action in a set of buttons
.btn-primary,
.label-primary {
    background-color: $color-primary;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: $color-primary-hover;
}

.btn-primary.btn-pastel,
.label-primary.label-pastel {
    background-color: $color-primary-pastel-bg;
    color: $color-primary-pastel-fg;
}

.btn-primary.btn-pastel:hover,
.btn-primary.btn-pastel:focus {
    background-color: $color-primary;
    color: #fff;
}

// Secondary: De-emphasizes and identifies secondary actions in a set of buttons
.btn-secondary,
.label-secondary {
    background-color: $color-secondary;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: $color-secondary-hover;
}

.btn-secondary.btn-pastel,
.label-secondary.label-pastel {
    background-color: $color-secondary-pastel-bg;
    color: $color-secondary-pastel-fg;
}

.btn-secondary.btn-pastel:hover,
.btn-secondary.btn-pastel:focus {
    background-color: $color-secondary;
    color: #fff;
}

// Success: Indicates a successful or positive action
.btn-success,
.label-success {
    background-color: $color-success;
}

.btn-success:hover,
.btn-success:focus {
    background-color: $color-success-hover;
}

.btn-success.btn-pastel,
.label-success.label-pastel {
    background-color: $color-success-pastel-bg;
    color: $color-success-pastel-fg;
}

.btn-success.btn-pastel:hover,
.btn-success.btn-pastel:focus {
    background-color: $color-success;
    color: #fff;
}

// Warning: Indicates caution should be taken with this action
.btn-warning,
.label-warning {
    background-color: $color-warning;
}

.btn-warning:hover,
.btn-warning:focus {
    background-color: $color-warning-hover;
}

.btn-warning.btn-pastel,
.label-warning.label-pastel {
    background-color: $color-warning-pastel-bg;
    color: $color-warning-pastel-fg;
}

.btn-warning.btn-pastel:hover,
.btn-warning.btn-pastel:focus {
    background-color: $color-warning;
    color: #fff;
}

// Danger: Indicates a dangerous or potentially negative action
.btn-danger,
.label-danger {
    background-color: $color-danger;
}

.btn-danger:hover,
.btn-danger:focus {
    background-color: $color-danger-hover;
}

.btn-danger.btn-pastel,
.label-danger.label-pastel {
    background-color: $color-danger-pastel-bg;
    color: $color-danger-pastel-fg;
}

.btn-danger.btn-pastel:hover,
.btn-danger.btn-pastel:focus {
    background-color: $color-danger;
    color: #fff;
}

// Disabled: buttons that cannot be used
.btn:disabled {
    background-color: $color-disabled !important;
    color: rgba(255, 255, 255, .8) !important;
    text-shadow: none;
    cursor: default;
}

.btn.btn-pastel:disabled {
    background-color: $color-disabled-pastel-bg !important;
    color: $color-disabled-pastel-fg !important;
}

.btn.btn-shadow:disabled {
    box-shadow: none !important;
}
