/*----------------------------------------------
  UIMODULE: Pagination
---------------------------------------------- */

.pagination .previous-link {
    float: left;
    display: block;
}

.pagination .next-link {
    float: right;
    display: block;
}

span.next-link,
span.previous-link {
    color: #999;
}

.pagination {
    margin: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #e5fcff;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.pagination-inner {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
}

.pagination a, .pagination .current {
    padding: 0 5px;
}

/*----------------------------------------------
  .linear-navigation
---------------------------------------------- */

.linear-navigation {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.linear-navigation .newer a,
.linear-navigation .older a {
    display: block;
}
