/* ---------------------------------------------------------------------
  Site Footer
--------------------------------------------------------------------- */
.site-footer {
    color: #666;
    font-size: 0.75em;
    padding: 2.5em;
    text-align: center;
}

.site-footer p {
    margin: 0;
}

.site-footer p + p {
    margin-top: .5em;
}

.site-footer a {
    white-space: nowrap;
}
