/*----------------------------------------------
  UIMODULE: ShakeFollow
---------------------------------------------- */

.user-follow {
    display: flex;
}

.user-follow .icon {
    margin-right: 10px;
    flex: none;
}

.user-follow h4 {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.user-follow h4 a {
    color: $color-mltshp-pink;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-indent: 3px;
    padding-bottom: 5px;
}

.user-follow .follow {
    flex: 1;
}

.user-follow-extended .icon {
    margin-right: 10px;
    float: left;
}

.user-follow-extended {
    display: block;
    margin: 20px 5px;

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.user-follow-extended .follow {
}

.user-follow-extended .details {
    padding-bottom: 10px;
}

.user-follow-extended h4 {
}

.user-follow-extended h4 a {
    font-size: 18px;
    text-indent: 0;
}

.user-follow-extended .about {
    display: block;
    font-size: 14px;
    line-height: 1.3;
    color: #333;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.user-follow-extended .website a {
    font-size: 13px;
    text-decoration: none;
    color: $color-mltshp-pink;
    word-wrap: break-word;
}

.user-follow-extended .body .user-follow .url {
    display: block;
    clear: both;
}
