<div class="field field-{{field_type}} {{css_class}}">
  <label>{{label}}</label>
  <div class="field-input">
    <div class="field-input-inner">
      {% if field_type == 'text' %}
        <input class="input-text" type="text" name="{{name}}" value="{{value}}">
      {% elif field_type == 'textarea' %}
        <textarea name="{{name}}">{{value}}</textarea>
      {% end %}
      {% if getattr(errors, name) %}
      <div class="error">
        <span class="error-text">
          {{errors[name] }}
        </span>
      </div>
      {% end %}
    </div>
  </div>
</div>
