{% if extended %}
<div class="user-follow user-follow-extended">
  <a class="icon" href="{{shake.path()}}">
    <img class="avatar--img" src="{{shake.thumbnail_url()}}" width="{{avatar_size}}" height="{{avatar_size}}" alt="" loading="lazy" decoding="async">
  </a>
    <div class="follow">
      <div class="details">
        <h4><a href="{{shake.path()}}">{{ escape(shake.display_name()) }}</a> {% if follow_user and follow_user.is_plus() %}<a href="/account/membership" title="upgraded their account!"><img alt="pro" src="{{ static_url("images/icon_plus.svg") }}" width="12" height="12" border="0" valign="center"></a>{% end %}</h4>
        {% if follow_user %}
          <p class="about">{{escape(follow_user.about)}}</p>
          <p class="website">{{linkify(follow_user.website, True, extra_params='rel="nofollow" target="_blank"')}}</p>
        {% else %}
          <p class="about">{{escape(shake.description)}}</p>
        {% end %}
      </div>
      {% if not site_is_readonly %}
        {% if current_user and current_user.id != shake.user_id %}
          {% if can_follow %}
          <form method="POST" action="/shake/{{shake.id}}/subscribe">
            {{ xsrf_form_html() }}
            <a href="" class="submit-form btn btn-secondary btn-pastel btn-small">+ Follow</a>
          </form>
          {% else %}
          <form method="POST" action="/shake/{{shake.id}}/unsubscribe">
            {{ xsrf_form_html() }}
            <a href="" class="submit-form btn btn-warning btn-pastel btn-small">- Unfollow</a>
          </form>
          {% end %}
        {% end %}
      {% end %}
    </div>
</div>
{% else %}
<div class="user-follow">
    <a class="icon" href="{{shake.path()}}">
      <img class="avatar--img" src="{% if avatar_size > 48 %}{{ shake.page_image() }}{% else %}{{shake.thumbnail_url()}}{% end %}" width="{{avatar_size}}" height="{{avatar_size}}" alt="" loading="lazy" decoding="async">
    </a>
    <div class="follow">
      <h4><a href="{{shake.path()}}">{{ escape(shake.display_name()) }}</a> {% if follow_user %}{% if follow_user.is_plus() %}<a href="/account/membership"><img alt="pro" src="{{ static_url("images/icon_plus.svg") }}" width="12" height="12" border="0" valign="center"></a>{% end %}{% end %}{{post_name_text}}</h4>
      {% if not site_is_readonly %}
        {% if current_user and current_user.id != shake.user_id %}
          {% if can_follow %}
          <form method="POST" action="/shake/{{shake.id}}/subscribe">
            {{ xsrf_form_html() }}
            <a href="" class="submit-form btn btn-secondary btn-pastel btn-small">+ Follow</a>
          </form>
          {% else %}
          <form method="POST" action="/shake/{{shake.id}}/unsubscribe">
            {{ xsrf_form_html() }}
            <a href="" class="submit-form btn btn-warning btn-pastel btn-small">- Unfollow</a>
          </form>
          {% end %}
        {% end %}
      {% end %}
    </div>
</div>
{% end %}
