<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% end %} | MLTSHP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="search" type="application/opensearchdescription+xml" href="{{ static_url("opensearch.xml") }}" title="mltshp">

    <link type="text/css" rel="stylesheet" href="{{ static_url("css/main.min.css") }}">

    <link rel="dns-prefetch" href="//s.mltshp.com">
    <link rel="dns-prefetch" href="//mltshp-cdn.com">

    <!-- Behave more like an app when saved to home screen in iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Proper favicon generator by Philippe Bernard: http://realfavicongenerator.net/ -->
    <!-- Originally found from: https://css-tricks.com/favicon-quiz/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url("images/apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" href="{{ static_url("images/favicon-32x32.png") }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ static_url("images/favicon-16x16.png") }}" sizes="16x16">
    <link rel="manifest" href="{{ static_url("manifest.json") }}">
    <link rel="mask-icon" href="{{ static_url("images/safari-pinned-tab.svg") }}" color="#fc1a9a">
    <meta name="theme-color" content="#ffffff">

    <script type="text/javascript">
    function fallbackImage(source) {
      // remove the bad video source
      var video = source.parentNode;
      video.removeChild(source);

      var sources = video.querySelectorAll('source');
      if (sources.length === 0) {
        // no sources remain, so replace the video
        // tag with the GIF fallback.
        var src = video.getAttribute('data-src');
        var altText = video.getAttribute('data-alt');
        var height = video.getAttribute('height');
        var width = video.getAttribute('width');

        var img = document.createElement('img');
        img.setAttribute('src', src);
        img.setAttribute('width', width);
        img.setAttribute('height', height);
        img.setAttribute('alt', altText);

        if (video.parentNode) {
          video.parentNode.replaceChild(img, video);
        }
      }
    }
    </script>
    {% block included_headers %}
    {% end %}
</head>
<body>
    <div id="alert-vote"
        class="alert alert--warning"
        style="text-align: center;
            background-image: url('/static/images/mltshp-flag.svg');
            background-position: 12px center;
            background-size: 48px;
            background-repeat: no-repeat;
            padding-left: 72px;
            display: none;"
        >
        <div style="display: flex; align-items: center;">
            <span class="alert__content" style="flex: 1;">
                It is very important that Americans <a href="https://www.aclu.org/voter/">vote in the upcoming election</a>.
                If you’ve voted, tag your post&nbsp;<a href="https://mltshp.com/tag/IVoted">#IVoted</a>!
            </span>
            <button
            aria-label="Dismiss Banner"
            type="button"
            class="alert__dismiss btn btn-warning btn-pastel btn-small btn-icon"
            style="flex: none;"
            >✕</button>
        </div>
    </div>
    <div class="page">
        <div class="wrapper">
            <header class="site-header">
                <div class="site-branding">
                    <a href="/"><img class="site-branding--logo" src="{{ static_url("images/logo-compact.svg") }}" alt="MLTSHP"></a>
                </div>
                <nav id="site-nav" class="site-nav">
                    <button type="button" class="site-nav--toggle btn btn-warning btn-pastel btn-icon">&#9776;</button>
                    <ul class="site-nav--list">
                        {% if current_user and current_user_object.is_member() %}
                            <li class="site-nav--item site-nav--shake-list">
                                {{modules.ShakeDropdown(current_user_object)}}
                            </li>
                            <li class="site-nav--item site-nav--conversations">
                                <a class="btn btn-success btn-pastel" href="/conversations">Conversations</a>
                            </li>
                            <li class="site-nav--item site-nav--search">
                                <a class="btn btn-success btn-pastel" href="/search">Search</a>
                            </li>
                        {% else %}
                            <li class="site-nav--item site-nav--popular">
                                <a class="btn btn-warning btn-pastel" href="/popular">Popular</a>
                            </li>
                        {% end %}
                        {% if not site_is_readonly %}
                            {% if current_user and current_user_object.can_post() %}
                                <li class="site-nav--item site-nav--upload">
                                    <a id="new-post-button" class="btn btn-primary btn-shadow" href="">New Post</a>
                                </li>
                            {% else %}
                                {% if not current_user %}
                                <li class="site-nav--item site-nav--signup">
                                    {% set handler_class = handler.__class__.__name__  %}
                                    {% if not current_user and handler_class != 'HomeHandler' and handler_class != 'CreateAccountHandler' %}
                                        <div class="call-out">Join us! Sign up to post images and create your own shake.</div>
                                    {% end %}
                                    <a class="btn btn-primary btn-shadow" href="/create-account">Sign Up!</a>
                                </li>
                                {% end %}
                            {% end %}
                        {% end %}
                    </ul>
                </nav>
                <nav class="user-nav">
                    <ul class="user-nav--list">
                        {% if current_user %}
                            {% if site_is_readonly %}
                                <li class="user-nav--item">
                                    The site is under maintenance right now.
                                    We’re doing something cool with the database!
                                </li>
                            {% end %}
                            {% if current_user_object and not current_user_object.email_confirmed %}
                                {% if not site_is_readonly %}
                                    <li class="user-nav--item">
                                        Please visit settings to confirm your email!
                                    </li>
                                {% end %}
                            {% end %}
                            <li class="user-nav--item">
                                <a href="/account/settings" class="user-nav--link">settings</a>
                            </li>
                            <li class="user-nav--item">
                                <a href="/faq/" class="user-nav--link">faq</a>
                            </li>
                            <li class="user-nav--item">
                                <a href="/sign-out/" class="user-nav--link">sign out</a>
                            </li>
                        {% else %}
                            {% set handler_class = handler.__class__.__name__  %}
                            <li class="user-nav--item">
                                <a href="/sign-in?next={{request.path}}" class="user-nav--link">sign in</a>
                            </li>
                        {% end %}
                    </ul>
                </nav>
            </header>

            <main class="site-main">
                {% block main %}
                    {{content}}
                {% end %}
            </main>

            <footer class="site-footer">
                <p>
                    Follow <a href="https://mefi.social/@best_of_mltshp" target="_blank" class="link--primary">@best_of_mltshp</a> on Mastodon
                </p>
                <p>
                    Are you a developer? <a href="/developers" class="link--primary">Check out our API</a>.
                </p>
                <p>
                    &copy; <a href="https://mltshp.com/">MLTSHP, a Massachusetts Mutual Aid Society venture</a>
                    All Rights Reserved<br>
                </p>
                <p>
                    &nbsp; <a href="/terms-of-use">Terms of Use</a>
                    &nbsp; <a href="/code-of-conduct">Code of Conduct</a>
                    &nbsp; <a href="mailto:hello@mltshp.com">Contact Us</a>
                </p>
                <p>
                    <a href="/user/mltshp">Follow The MLTSHP User!</a>
                </p>
            </footer>
        </div>
    </div>
    <div id="new-post-panel" class="new-post-panel"><div class="new-post-panel--inner"></div></div>
    <script type="text/javascript" charset="utf-8" src="{{ static_url("js/jquery-min-1.4.2.js") }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ static_url("js/main.js") }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ static_url("js/paging_keys.js") }}"></script>
    {% block included_scripts %}
    {% end %}
</body>
</html>
