{%extends "base.html" %}

{% block title %}Recommend a Group Shake{% end %}

{% block main %}
<div class="content content-with-sidebar admin-new-users">
  {% include "admin/_sidebar.html" %}

  <div class="body">
    <h1>Recommend Shakes</h1>
    <ol class="shake-list">
    {% for group_shake in group_shakes %}
      <li class="shake-list--shake">
          <div class="shake-list--thumb">
              <img src="{{group_shake.thumbnail_url()}}" width="48" height="48">
          </div>
          <div class="shake-list--description">
              <a href="/{{group_shake.name}}" target="_blank">{{group_shake.display_name()}}</a>
              <p>{{group_shake.description}}</p>
          </div>
          <div class="shake-list--recommend">
              <form style='display:inline;' method="post" action='/admin/recommend-group-shake/{% if group_shake.recommended %}unrecommend{% else %}recommend{% end %}'>
                  {{ xsrf_form_html() }}
                  <input class="btn btn-small btn-pastel btn-primary" type='submit' value='{% if group_shake.recommended %}unrecommend{% else %}recommend{% end %}'>
                  <input type='hidden' name='shake_id' value='{{group_shake.id}}'>
              </form>
          </div>
      </li>
    {% end %}
    </ol>
  </div>
</div>
{% end %}
