{%extends "base.html" %}

{% block title %}Waitlist{% end %}

{% block main %}
<div class="content content-with-sidebar admin-new-users">
  {% include "admin/_sidebar.html" %}

  <div class="body">
      <h1>Waitlist</h1>
      <ol>
      {% for waiter in waiters %}
        <li>{{waiter.created_at.strftime('%B %d')}} - {{waiter.email}}&nbsp;<form style='display:inline;' method="post" action='/admin/waitlist'>{{ xsrf_form_html() }}<input type='submit' value='invite {% if waiter.verified %}(verified){% end %}'><input type='hidden' name='waitlist_id' value='{{waiter.id}}'></form></li>
      {% end %}
      </ol>
  </div>
</div>
{% end %}
