{% extends "base.html" %}

{% block title %}
Get On The Waitlist
{% end %}
{% block main %}

<div class="content content-narrow">
  {% if errors.email %}
  <h1>Ooops, try again&hellip;</h1>

  {% else %}
  <h1>The Wait List</h1>
  <p>
    A lot of work has gone into this site, and while it is still in preview
    stage we think it's ready to be opened up to a wider audience. So fill out this form,
    verify your address in the email, and we'll contact you when we add more players.
  </p>
  {% end %}

  <form class="fun-form fun-form-stacked" method="post" action="/waitlist">
    {{ xsrf_form_html() }}
    <div class="field">
      <label>Email</label>
      <div class="field-input"><input type="text" name="email" class="input-text"></div>
      {% if errors.email %}
      <div class="error">
        <span class="error-text">
          {{errors.email }}
        </span>
      </div>
      {% end %}
    </div>
    <div class="field field-submit">
      <input class="btn btn-primary btn-shadow btn-large" type="submit" value="Put me on the list!">
    </div>
    <div class="clear"><!-- --></div>
  </form>
  <p>
    If you don't get your verification email please send us one at
    <a href="mailto:hello@mltshp.com">hello@mltshp.com</a>.
  </p>
</div>
{% end %}
