{% extends "base.html" %}


{% block main %}
<div class="content">
   <div class="content-developer">
    <h1>Hey Developers!</h1>
    <p>
    <a href="/developers/apps">Your Apps</a>
    </p>
    <h2>Steps To Creating A MLTSHP Application</h2>
    <p>
      To get started first <a href="/developers/new-api-application">register an application</a>. You'll need to
      enter a title, description, and also a redirect URL.
      This URL will be where users of your app will be sent after approving your app to access their account.
    </p>
      Once that is done you will be given an API key and a secret. We are using draft 12 of the new <b>OAuth2</b> specification.
      If you want to read the gory details they are all here: <a href="http://tools.ietf.org/html/draft-ietf-oauth-v2-12">http://tools.ietf.org/html/draft-ietf-oauth-v2-12</a>.
    </p>
    <p>
      The steps are:
    </p>
    <ul>
      <li>Provide a MLTSHP authentication URL for your user to approve your application's access. (http://mysite.com/return)</li>
      <li>Capture the authorization code when they are bounced back to your site. (http://mysite.com/return?code=######)</li>
      <li>Use that authorization code to request an access token. The access token will contain a key and a secret.</li>
      <li>Use the key to make requests on behalf of your user and sign each request with the secret. </li>
      <li>If the request is properly signed you can request resources and make updates to those resources on behalf of the user.</li>
    </ul>
    <p>
      Here are two example scripts. Both require you to input your access key and secret you get
      from <a href="/developers/apps">creating an application here</a>.
    </p>
    <ul>
      <li><a href="/static/developers/example.py.txt">Python Script</a></li>
      <li><a href="/static/developers/example.php.txt">PHP Script</a></li>
    </ul>
    <a name='desktop'></a>
    <h2>Desktop or Mobile Device App</h2>
    <p>
       Here is how to authenticate in one step when using a desktop or iOS application. Instead of sending the user
       to a web page to approve, and then have them return to your application with an auth code, you can get
       an access token with one step. <strong>DO NOT</strong> use this method if you are not making a desktop application.
    </p>
    <p>
        After acquiring <a href="/developers/new-api-application">app credentials here</a>, POST
        the following data here:
    </p>
    <pre>
/api/token?grant_type=<strong>password</strong>&amp;client_id=<strong>your app key</strong>
    &amp;client_secret=<strong>your app secret</strong>&amp;username=<strong>the user's name</strong>&amp;password=<strong>the user's password</strong>
    </pre>
    <p>
        Then if everything matches you'll receive an access token as a JSON response:
    </p>
    <pre>
{
    "access_token": "########",
    "secret": "########",
    "token_type": "mac",
    "algorithm": "hmac-sha-1"
}</pre>
    <p>
        Please be aware that your parameters should be url encoded. This is a command line example using curl:
    </p>
    <pre>
    curl \
      --data-urlencode "grant_type=<strong>password</strong>" \
      --data-urlencode "client_id=<strong>your app key</strong>" \
      --data-urlencode "client_secret=<strong>your app secret</strong>" \
      --data-urlencode "username=<strong>the user's name</strong>" \
      --data-urlencode "password=<strong>the user's password</strong>" \
      -s -X POST "https://mltshp.com/api/token"
    </pre>
    <p>
        Requests to the API should be signed with the access token as normal in the above script examples.
    </p>
    <h2>API Reference</h2>
    <p>See the <a href="/developers/reference">reference documentation here</a>.</p>
   </div>
</div>
{% end %}
