{% extends "base.html" %}

{% block title %}
  30 Recently Popular Files
{% end %}

{% block main %}
<div class="content content-with-sidebar content-account">
  <div class="account-header">
    <div class="avatar">
      <h2>30 Recently Popular Files</h2>
    </div>
  </div>
  <div class="sidebar">
    {% if notifications_count > 0 %}
    <div class="notification-block notification-block-aggregate" id="notification-block-aggregate">
      <div class="notification-block-hd">
        Show {{notifications_count}} notification{% if notifications_count != 1 %}s{% end %} <img src="{{ static_url("images/notifications-aggregate-carrot.gif") }}" width="10" height="8" alt="">
      </div>
    </div>
    {% end %}

    {{modules.ShakeFollow(follow_user=best_of_user, follow_shake=best_of_shake, current_user=current_user_obj, avatar_size=100, extended=True)}}

    {% if current_user_obj and not current_user_obj.is_paid %}
    <div class="upgrade-account-block">
      <div class="upgrade-account-block-content">
        <h3><a href="/account/subscribe">Upgrade your account &raquo;</a></h3>
        <p>Get <strong>100</strong> group shakes for just $2 per month and support MLTSHP!</p>
      </div>
    </div>
    {% end %}

      <p>

      </p>
  </div>
  <div class="body">
    <div class="image-content-list">
      {% for sharedfile in sharedfiles %}
        {{modules.Image(sharedfile, current_user=current_user_obj, list_view=True, show_attribution_in_title=True)}}
      {% end %}
    </div>

    {% if not current_user_obj %}
    <div>
      <!-- you get ads! -->
    </div>
    {% end %}
  </div>
</div>
{% end %}
