<p>
  <a href="http://agilewebsolutions.com/onepassword"><img src="{{ static_url("images/1password.png") }}" class="password-manager-icon" width="50" height="50"></a> <a href="http://agilewebsolutions.com/onepassword">1Password is a native Macintosh application</a> that is also available for the iPad and iPhone. We use this one.
</p>
<p>
  <a href="http://lastpass.com/"><img src="{{ static_url("images/lastpass.png") }}" width="50" class="password-manager-icon" height="50"></a> <a href="http://lastpass.com/">Lastpass is not only very popular</a>, but it works on Mac or Windows as well as many mobile phones and devices.
</p>
<p>
  <a href="http://keepass.info/"><img src="{{ static_url("images/keepass.png") }}" width="50" class="password-manager-icon" height="50"></a> <a href="http://keepass.info/">Keepass is an open source password manager</a> that also runs on a variety of platforms and devices.
</p>
