{% extends "base.html" %}

{% block title %}Terms of Use Notice{% end %}

{% block main %}
  <div class="content content-narrow">
    <div class="tou-notice-page">
      <p>
        Hi everyone and welcome to MLTSHP! We have an updated Terms of Use / Privacy Policy document everyone
        today needs to agree to. Nothing that different from before, but important because <em>Legal Reasons</em>.
        We wanted to update it to be more up-front and open about the services we utilize to make the magic
        that is MLTSHP.
      </p>
      <p>
        By clicking this button, you agree to <a href="/terms-of-use" target="_blank">the terms listed on this page</a>
        and our <a href="/code-of-conduct" target="_blank">Code of Conduct</a>.
      </p>
      <div class="tou-agree">
        <a class="btn btn-primary btn-shadow" href="/account/announcement/tou?agree=you-bet">I Agree</a>
      </div>
      <p>
        We just wanted to make a great site and we know we wouldn't be doing it without all of you showing up
        every day. So, thank you. <a href="https://mltshphq.tumblr.com/tagged/releasenotes">Be sure to check
        out our release notes!</a>
      </p>
    </div>
  </div>
{% end %}
