{% extends "base.html" %}

{% block included_headers %}
{% if recaptcha_site_key %}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
  function captchaSubmit(token) {
    $('#account-form [name=recaptcha_token]').val(token);
    $('#account-form').submit();
  }
</script>
{% end %}
{% end %}

{% block title %}Create Account{% end %}

{% block main %}

  <div class="content content-narrow">
    <h1>Create Account</h1>

    {% if errors.recaptcha %}
      <p class="fun-form-errors"><strong>Couldn't create the account:</strong> {{ errors.recaptcha }}</p>
    {% end %}

    <div class="extra-info">
      <p><strong>NOTE:</strong> If you are a returning MLKSHK user, just use your MLKSHK
      login to <a href="/sign-in">sign in</a> instead of creating a new account (unless
      you <em>want</em> a new account, which is fine too!)</p>
    </div>

    {% if not site_is_readonly %}
    <div class="fun-form">
      <form id="account-form" method="POST" action="/create-account/">
        {{ xsrf_form_html() }}
        {% if recaptcha_site_key %}
        <input type="hidden" name="recaptcha_token" value="">
        {% end %}
        <div class="field">
          <label for="name">Username:</label>
          <div class="field-input">
            <input class="input-text" type="text" name="name" value="{{xhtml_escape(name)}}" autocapitalize="none" autocomplete="username">
            {% if errors.name %}
            <div class="error">
              <span class="error-text">
                {{errors.name }}
              </span>
            </div>
            {% end %}
          </div>
          <div class="field-help">
            30 characters or fewer. Letters, digits, underscores or dashes only.
          </div>
        </div>

        <div class="field">
          <label for="password">Password:</label>
          <div class="field-input">
            <input class="input-text" type="password" name="password" autocomplete="new-password">
            {% if errors.password %}
            <div class="error">
              <span class="error-text">
                {{errors.password }}
              </span>
            </div>
            {% end %}
          </div>
        </div>

        <div class="field">
          <label for="password_again">Password, again:</label>
          <div class="field-input">
            <input class="input-text" type="password" name="password_again" autocomplete="new-password">
          </div>
          <div class="field-help">
            Enter the same password as above for verification.
          </div>
        </div>

        <div class="field">
          <label>Email:</label>
          <div class="field-input">
            <input class="input-text" type="email" name="email" value="{{xhtml_escape(email)}}" autocomplete="email">
            {% if errors.email %}
            <div class="error">
              <span class="error-text">
                {{errors.email }}
              </span>
            </div>
            {% end %}
          </div>
        </div>

        <div class="field">
          <label>Discount code:</label>
          <div class="field-input">
            <input class="input-text" type="text" name="key" value="{{xhtml_escape(key)}}" autocapitalize="none">
            {% if errors.key %}
              <div class="error">
                <span class="error-text">
                  {{errors.key }}
                </span>
              </div>
              {% end %}
          </div>
          <div class="field-help">
            If you have a discount code to apply
            towards a membership, enter it here.

            {% if promotions %}
            <br><br>If you don’t have a discount code, here’s
            our active promotions!

            <ul class="promotions">
            {% for promo in promotions %}
            {% set promo_shake = promo.shake() %}
            <li><a href="{{ promo.promotion_url }}" rel="nofollow" target="_blank"><div class="promotion-avatar"><img src="{{promo_shake.page_image()}}" width="100" height="100" alt=""></div><span class="promotion-name">{{ xhtml_escape(promo.name) }}</span></a></li>
            {% end %}
            </ul>
            <div class="clear"><!-- --></div>
            {% end %}
          </div>
        </div>

        <div class="field">
          <div class="field-help">
            By creating an account you agree to MLTSHP’s <a href="/terms-of-use" target="_blank">terms of use</a>.
          </div>
        </div>
        <div class="field field-submit">
          <input class="btn btn-primary btn-shadow btn-large{% if recaptcha_site_key %} g-recaptcha{% end %}" type="submit" value="Create It!" {% if recaptcha_site_key %}
          data-sitekey="{{ recaptcha_site_key }}" data-callback="captchaSubmit" data-action="submit"
          {% end %}>
        </div>
      </form>
      <div class="clear"><!-- --></div>
    </div>
    {% else %}
    <p>Sorry! The site is in a read-only state right now and isn't accepting registrations. Please check back soon!</p>
    {% end %}
  </div>
{% end %}
