{% extends "base.html" %}

{% block included_headers %}

  {% if user.is_plus() %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ app_scheme }}://{{ app_host }}/user/{{user.name}}/rss">
  {% end %}
{% end %}

{% block title %}
{{user.name}}'s shake
{% end %}


{% block main %}

<div class="content content-with-sidebar content-account">
  <div class="sidebar">
    <div class="user-info">
      {{modules.ShakeFollow(follow_user=user, current_user=current_user_obj, avatar_size=100, extended=True)}}

      {% if user.show_stats %}
        {{modules.UserCounts(user=user)}}
      {% end %}

      <div class="sidebar-search-block fun-form">
        <form method="GET" action="/search">
          <input type="hidden" name="context" value="{% if user.id == current_user_obj.id %}in:mine{% else %}from:{{escape(user.name)}}{% end %}" autocomplete="off">
          <div class="field">
            <div class="field-input">
              <input type="search" class="input-text" name="q" placeholder="{% if user.id == current_user_obj.id %}Search your shake!{% else %}Search posts by this user!{% end %}" autocorrect="off">
            </div>
          </div>
        </form>
        <div class="clear"><!-- --></div>
      </div>

      {% if len(other_shakes) > 0 %}
        <div class="other-shakes-wrapper">
          <h3>{{escape(user.display_name())}}'s other shakes</h3>
          <div class="other-shakes">
            <ul>
              {% for shake in other_shakes %}
                <li><a href="{{shake.path()}}">{{escape(shake.display_name())}}</a></li>
              {% end %}
            </ul>
          </div>
        </div>
      {% end %}

      <div class="following-wrapper">
        <h3>Following <span class="count">({{following_shakes_count}})</span></h3>
        <div class="following">
          <ul id='following-list'>
            {% for follow in following_shakes %}
              <li>
                <a href="{{follow['path']}}" title="{{escape(follow['name'])}}">
                  <img class="avatar--img" src="{{follow['image']}}" width="48" height="48" alt="{{escape(follow['name'])}}" loading="lazy" decoding="async">
                </a>
              </li>
            {% end %}
          </ul>
          <br style="clear:both;">
          {% if following_shakes %}
            <a class="view-all-following" href="/user/{{user.name}}/following">view all</a>
          {% end %}
        </div>
      </div>

      <div class="following-wrapper">
        <h3>Followed by <span class="count">({{follower_count}})</span></h3>
        <div class="following">
          <ul id='following-list'>
            {% for follower in followers %}
              <li>
                <a href="/user/{{follower.name}}" title="{{escape(follower.display_name())}}">
                  <img class="avatar--img" src="{{follower.profile_image_url()}}" width="48" height="48" alt="{{escape(follower.display_name())}}" loading="lazy" decoding="async">
                </a>
              </li>
            {% end %}
          </ul>
          <br style="clear:both;">
          {% if followers %}
            <a class="view-all-following" href="/user/{{user.name}}/followers">view all</a>
          {% end %}
        </div>
      </div>
    </div>

    {% if current_user_obj and current_user_obj.is_admin() and not site_is_readonly %}
      <div class="sidebar-flag-nsfw">
        <form action="/admin/user/{{user.name}}/flag-nsfw" method="post">
          {{ xsrf_form_html() }}
          {% if bool(user.nsfw) == True %}
            NSFW.
            <input type="hidden" name="nsfw" value="0">
            <input class="flag-nsfw-button" type="submit" value="Remove NSFW Flag">
          {% else %}
            SFW.
            <input type="hidden"  name="nsfw"  value="1">
            <input class="unflag-nsfw-button" type="submit" value="Set NSFW Flag">
          {% end %}
        </form>
      </div>
    {% end %}
    {% if not current_user_obj %}
    <div>
      <!-- you get ads! -->
    </div>
    {% end %}
  </div>
  <div class="body">
    {% if has_data_to_migrate %}
    <div class="migration-reminder">
      <p>Hey! You still have MLKSHK posts that you haven&#x27;t restored! If you want to
        restore your content now, <a href="/account/mlkshk-migrate">head this way.</a></p>
    </div>
    {% end %}
    <div class="image-content-list">
      {% for sharedfile in images %}
        {{modules.Image(sharedfile, current_user=current_user_obj, list_view=True, show_attribution_in_title=False)}}
      {% end %}
    </div>

    {% if not current_user_obj %}
    <div>
      <!-- you get ads! -->
    </div>
    {% end %}

    {{modules.Pagination(object_count=count, current_page=page, url_format=url_format)}}
  </div>
</div>
{% end %}
