{% extends "base.html" %}
{% block title %}Welcome to MLTSHP!{% end %}

{% block main %}
  <div class="content content-membership content-migrate">

    <h1>Welcome to MLTSHP!</h1>

    <p>Hi, {{ name }}! We are thrilled to have you join us here.</p>

    <p>Here's what to do next:</p>

    <ol>
        <li>Choose your membership plan</li>
        <li>Optionally restore your MLKSHK.com content</li>
    </ol>

    <form action="/account/membership" method="GET">
       <input type="submit"
         class="btn btn-primary btn-shadow btn-large" value="Select Membership">
    </form>

  </div>
{% end %}
