{% extends "base.html" %}

{% block title %}
Error Putting You On The List
{% end %}
{% block main %}
<h1>Error</h1>
<p>
  Not sure what happened but there was an error when trying to access that URL. Could you mail 
  us at <script type="text/javascript">
  //<![CDATA[
  <!--
  var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
  "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
  " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!11)5t{yrx{=+;x+ll" +
  "=};acct(h)e}{f}roi(l=1-i;=>;0-i)-o{=+.xhcratAi(;)r}teru n.oussbrt0(o,)l};(f" +
  ")\\\",0\\\"\\\\XR\\\\\\\\\\\\\\\\GO2Z00\\\\\\\\]M\\\\r0\\\\s=372):426\\\\0:" +
  "\\\\?897mn22\\\\0 \\\\(#\\\\d\\\\\\\" \\\\-4))03\\\\0-\\\\,-VZ37\\\\0`\\\\0" +
  "6\\\\0_\\\\LUB^25\\\\06\\\\02\\\\\\\\_oS^01\\\\0E\\\\_EF@hDJHAI0K03\\\\\\\\" +
  "TNwsq|F9~$dr4}.r83baxhxb&~hsi`avdn\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoarc" +
  "hx.e(odrChamCro.fngriSt+=;o27=1y%2;*=)yy)0+>((iif){++;i<l;i=0(ior;fthnglex." +
  "l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"                         ;
  while(x=eval(x));
  //-->
  //]]>
  </script> and tell us what happened? Thanks.
</p>
{% end %}