{% extends "base.html" %}

{% block title %}
Get On The Waitlist
{% end %}
{% block main %}

<div class="content content-narrow">
  {% if errors.email %}
  <h1>Ooops, try again&hellip;</h1>

  {% else %}
  <h1>The Wait List</h1>
  <p>
    A lot of work has gone into this site, and while it is still in preview
    stage we think it's ready to be opened up to a wider audience. So fill out this form,
    verify your address in the email, and we'll contact you when we add more players.
  </p>
  {% end %}

  <form class="fun-form fun-form-stacked" method="post" action="/waitlist">
    {{ xsrf_form_html() }}
    <div class="field">
      <label>Email</label>
      <div class="field-input"><input type="text" name="email" class="input-text"></div>
      {% if errors.email %}
      <div class="error">
        <span class="error-text">
          {{errors.email }}
        </span>
      </div>
      <span class="bottoms"></span>
      {% end %}
    </div>
    <div class="field field-submit">
      <input type="image" src="/static/images/put-me-on-the-list.gif">
    </div>
    <div class="clear"><!-- --></div>
  </form>
  <p>
    If you don't get your verification email please send us one at <script type="text/javascript">
    //<![CDATA[
    <!--
    var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
    "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
    " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!11)5t{yrx{=+;x+ll" +
    "=};acct(h)e}{f}roi(l=1-i;=>;0-i)-o{=+.xhcratAi(;)r}teru n.oussbrt0(o,)l};(f" +
    ")\\\",0\\\"\\\\XR\\\\\\\\\\\\\\\\GO2Z00\\\\\\\\]M\\\\r0\\\\s=372):426\\\\0:" +
    "\\\\?897mn22\\\\0 \\\\(#\\\\d\\\\\\\" \\\\-4))03\\\\0-\\\\,-VZ37\\\\0`\\\\0" +
    "6\\\\0_\\\\LUB^25\\\\06\\\\02\\\\\\\\_oS^01\\\\0E\\\\_EF@hDJHAI0K03\\\\\\\\" +
    "TNwsq|F9~$dr4}.r83baxhxb&~hsi`avdn\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoarc" +
    "hx.e(odrChamCro.fngriSt+=;o27=1y%2;*=)yy)0+>((iif){++;i<l;i=0(ior;fthnglex." +
    "l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"                         ;
    while(x=eval(x));
    //-->
    //]]>
    </script>.
  </p>
</div>
{% end %}
